<loading></loading>
<style>
.dropdown-toggle::after {
   
    opacity: 0;
}
.bootstrap-select.btn-group[class*=col-] .dropdown-toggle {
    width: 100%;
    box-shadow: 0px 1px 4px rgba(45, 37, 41, 0.14);
    font-size: 13px;
    border-radius: 30px;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
</style>
<form name="profileForm" ng-submit="profileForm.$valid&&editPersonalDetails(profile)" novalidate>
<section class="commonBackground interview-details clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 name-desc clearfix">
        <div style="width: auto; float: left">
            <h2>{{userData.firstName}} {{userData.lastName}}</h2>
            <p>{{userData.profileTitle}}</p>
        </div>
        <button type="button" class="sbmt-btn col-lg-2 col-md-2 col-sm-2 col-xs-2 pull-right" style="margin: 10px 0 0 0; padding: 5px; font-size: 12px;" ng-click="editProfile()">Edit</button>
    </div>
    <div class="candidate-desc candidate-edit-profile candidate-edit-profile-signup clearfix col-lg-12 col-md-12 col-sm-12 col-xs-12">
        
            <div class="row mt-20">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <label class=""><p>First Name</p></label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <input ng-model="profile.fname" ng-keypress='FirsText($event)' name="firstName" class=" inp cap" type="text" ng-readonly="read" required>
            </div>
        </div>
            
         
        
        <div ng-show="profileForm.$submitted" class="text-center">
            <div class="error-message" ng-show="profileForm.firstName.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> First name is Required.</div>
        </div>

        
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <label class=""><p>Last Name</p></label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <input ng-model="profile.lname" ng-keypress='FirsText($event)' name="lastName" class="inp cap" type="text" ng-readonly="read" required>
        </div>
    </div>
      
        <div ng-show="profileForm.$submitted" class="text-center">
            <div class="error-message" ng-show="profileForm.lastName.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Last name is Required.</div>
        </div>
      
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <label class="row col-lg-4 col-md-4 col-sm-4 col-xs-12"><p>Email</p></label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <span style="text-transform: none;    padding: 5px 10px;" class="asinput">{{profile.email}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    
            <label class=""><p>Date of Birth</p></label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <input name="dob" id="dob" ng-model="profile.dob" class=" inp datetimepicker" type="text" ng-readonly="read">
        </div></div>
       
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <label class=""><p>Job Title</p></label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <input ng-model="profile.designation" ng-keypress='FirsText($event)' name="designation" class=" inp" type="text" ng-readonly="read" required>
        </div></div>
        <div ng-show="profileForm.$submitted" class="text-center">
            <div class="error-message" ng-show="profileForm.designation.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
        </div>
        <div class="fullWidth expDrop">
     
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <label class=""><p>Experience</p></label>
        </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <span style="padding: 5px 10px;" class="asinput" ng-show="read">{{compExp}}</span>
            <input style="cursor: pointer;    padding: 5px 10px;" ng-model="compExp" onclick="$('.experience-lists').toggleClass('showExperience');" onkeydown="return false" name="experience" class="inp" type="text" ng-show="!read" required>
        </div>
    </div>
  
        <div class="experience-lists clearfix">
            <div class="lists-exp">
                <h3>YEAR</h3>
                <ul>
                    <li><input ng-click="calculateYear()" type="radio" ng-model="year" value="1">1</li>
                    <li><input ng-click="calculateYear()" type="radio" ng-model="year" value="2">2</li>
                    <li><input ng-click="calculateYear()" type="radio" ng-model="year" value="3">3</li>
                    <li><input ng-click="calculateYear()" type="radio" ng-model="year" value="4">4</li>
                    <li><input ng-click="calculateYear()" type="radio" ng-model="year" value="5">5</li>
                    <li><input ng-click="calculateYear()" type="radio" ng-model="year" value="6">6</li>
                    <li><input ng-click="calculateYear()" type="radio" ng-model="year" value="7">7</li>
                    <li><input ng-click="calculateYear()" type="radio" ng-model="year" value="8">8</li>
                    <li><input ng-click="calculateYear()" type="radio" ng-model="year" value="9">9</li>
                    <li><input ng-click="calculateYear()" type="radio" ng-model="year" value="10">10</li>
                    <li><input ng-click="calculateYear()" type="radio" ng-model="year" value="11">11</li>
                    <li><input ng-click="calculateYear()" type="radio" ng-model="year" value="12">12</li>
                </ul>
            </div>
            <div class="lists-exp month">
                <h3>MONTH</h3>
                <ul>
                    <li><input ng-click="calculateMonth()" type="radio" ng-model="month" value="0">0</li>
                    <li><input ng-click="calculateMonth()" type="radio" ng-model="month" value="1">1</li>
                    <li><input ng-click="calculateMonth()" type="radio" ng-model="month" value="2">2</li>
                    <li><input ng-click="calculateMonth()" type="radio" ng-model="month" value="3">3</li>
                    <li><input ng-click="calculateMonth()" type="radio" ng-model="month" value="4">4</li>
                    <li><input ng-click="calculateMonth()" type="radio" ng-model="month" value="5">5</li>
                    <li><input ng-click="calculateMonth()" type="radio" ng-model="month" value="6">6</li>
                    <li><input ng-click="calculateMonth()" type="radio" ng-model="month" value="7">7</li>
                    <li><input ng-click="calculateMonth()" type="radio" ng-model="month" value="8">8</li>
                    <li><input ng-click="calculateMonth()" type="radio" ng-model="month" value="9">9</li>
                    <li><input ng-click="calculateMonth()" type="radio" ng-model="month" value="10">10</li>
                    <li><input ng-click="calculateMonth()" type="radio" ng-model="month" value="11">11</li>
                    <li><input ng-click="calculateMonth()" type="radio" ng-model="month" value="12">12</li>
                </ul>
            </div>
        </div>
        </div>
        <div ng-show="profileForm.$submitted" class="text-center">
            <div class="error-message" ng-show="profileForm.experience.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <label class=""><p>Annual Salary</p></label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <input ng-model="profile.salary" name="sal" ng-keypress='isNumberKey($event)' class="inp" type="text" ng-readonly="read">
            <!--<div class="error-message" ng-show="profileForm.sal.$error.pattern"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Salary must be valid.</div>-->
        </div></div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <label class=""><p>Key Skills</p></label>
        </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <input ng-model="profile.keySkills" ng-keypress='isSpecialKey($event)' name="keySkills" class="inp cap" type="text" ng-readonly="read" required>
        </div></div>
        <div ng-show="profileForm.$submitted" class="text-center">
            <div class="error-message" ng-show="profileForm.keySkills.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
        </div>


    
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <label class=""><p>Industry</p></label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <span style="padding: 5px 10px;" class="asinput" ng-show="read">{{profile.industry}}</span>
            <select name="indusNames" ng-model="profile.industry" ng-change="getIndustryID(profile.industry)" class="selectpicker  inp" data-live-search="true" ng-if="!read" required>
                <option value="" disabled hidden>Select Industry</option>
                <option ng-repeat="i in industryLists">{{i.industryName}}</option>
            </select>
        </div>
    </div>
            
 
        <div ng-show="profileForm.$submitted" class="text-center">
            <div class="error-message" ng-show="profileForm.indusNames.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
        </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <label class=""><p>Functional Area</p></label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <span style="width: 100%;padding: 5px 10px;" class="asinput" ng-show="read">{{profile.functionalArea}}</span>
            <select name="funAreaNames" ng-model="profile.functionalArea" class="selectpicker  inp" data-live-search="true" ng-if="!read" required>
                <option value="" disabled hidden>Select Functional Area</option>
                <option ng-repeat="f in oldFunAreaList">{{f.functionalAreaName}}</option>
            </select>
        </div>
    </div>
    
        <div ng-show="profileForm.$submitted" class="text-center">
            <div class="error-message" ng-show="profileForm.funAreaNames.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <label class=""><p>Job Type</p></label>
        </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <span style="padding: 5px 10px;" class="asinput" ng-show="read">{{profile.jobType}}</span>
            <select name="funAreaNames" ng-model="profile.jobType" class="selectpicker inp" ng-if="!read">
                <option value="" disabled hidden>Select Job Type</option>
                <option value="Permanent Full Time">Permanent Full Time</option>
                <option value="Contractual Part Time">Contractual Part Time</option>
            </select>
      
        </div></div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <label class=""><p>Gender</p></label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <span style="padding: 5px 10px;" class="asinput" ng-show="read">{{profile.gender}}</span>
            <!--<input ng-model="profile.gender" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 inp" type="text" ng-readonly="read"><img src="images/edit.png" alt="" ng-if="!read" />-->
            <select name="gender" ng-model="profile.gender" class="selectpicker " ng-if="!read" required>
                <option value="" disabled hidden>Select Gender</option>
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
            </select>
        </div></div>
        <div ng-show="profileForm.$submitted" class="text-center">
            <div class="error-message" ng-show="profileForm.gender.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <label class=""><p>Country</p></label>
        </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <span style="padding: 5px 10px;" class="asinput" ng-show="read">{{profile.country}}</span>
            <select name="country" ng-model="profile.country"  ng-change="getCountryID(profile.country)" class="selectpicker inp" data-live-search="true" ng-if="!read" required>
                <option value="" disabled hidden>Select Country</option>
                <option ng-repeat="country in countryLists">{{country.countryName}}</option>
            </select>
        </div></div>
        <div ng-show="profileForm.$submitted" class="text-center">
            <div class="error-message" ng-show="profileForm.country.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <label class="row col-lg-4 col-md-4 col-sm-4 col-xs-12"><p>State</p></label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <span style="padding: 5px 10px;" class="asinput" ng-show="read">{{profile.states}}</span>
            <select name="stateNames" ng-model="profile.states" ng-change="getStateID(profile.states)" class="selectpicker  inp" data-live-search="true" ng-if="!read" required>
                <option value="" disabled hidden>Select State</option>
                <option ng-repeat="s in oldStateList">{{s.stateName}}</option>
            </select>
        </div></div>
      
        <div ng-show="profileForm.$submitted" class="text-center">
            <div class="error-message" ng-show="profileForm.stateNames.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
     
            <label class=""><p>Zipcode</p></label>
        </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <span style="padding: 5px 10px;" class="asinput" ng-show="read">{{profile.zipCode}}</span>
            <select name="stateNames" ng-model="profile.zipCode" class="selectpicker  inp" data-live-search="true" ng-if="!read" required>
                <option value="" disabled hidden>Select Zip Code</option>
                <option ng-repeat="z in oldZipCodeList">{{z.zipCode}}</option>
            </select>
        </div>  </div>
        <div ng-show="profileForm.$submitted" class="text-center">
            <div class="error-message" ng-show="profileForm.stateNames.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
        </div>



        





        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        
            <label class=""><p>Country Code</p></label>
        </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <span style="padding: 5px 10px;" class="asinput">{{profile.countryCode}}</span>
        </div></div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <label class=""><p>Contact Number</p></label>
        </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <input style="padding: 5px 10px;" ng-model="profile.phoneNumber" minlength="10" maxlength="10" ng-keypress='isNumberKey($event)' ng-pattern="/^[1-9]{1}[0-9]{9}$/" name="phoneNumber" class=" inp" type="text" ng-readonly="read" required>
        </div></div>
        <div ng-show="profileForm.$submitted" class="text-center">
            <div class="error-message" ng-show="profileForm.phoneNumber.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
            <div class="error-message" ng-show="profileForm.phoneNumber.$error.pattern"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Phone number must be valid & 10 characters long.</div>
        </div>

        <p style="padding-top: 20px; padding-bottom: 10px; border-top: solid 1px #d9d9d9;">
            <button type="button" ng-click="cancelPersonalDetails()" class="sbmt-btn col-lg-2 col-md-2 col-sm-2 col-xs-4 pull-left" style="margin: 0; padding: 5px"  ng-hide="read">Cancel</button>
            <button type="submit" class="sbmt-btn col-lg-2 col-md-2 col-sm-2 col-xs-4 pull-right" style="margin: 0; padding: 5px" ng-disabled="saveBtn"  ng-hide="read">Save</button>
        </p>
    </div>
</section>
</form>
<!-- <div ng-include src="'app/inbox/recentlySearchJobs.html'"></div> -->
