@font-face{font-family:'OpenSansBold';src:url('../fonts/OpenSansBold.eot');src:url('../fonts/OpenSansBold.eot') format('embedded-opentype'),
url('../fonts/OpenSansBold.woff2') format('woff2'),
url('../fonts/OpenSansBold.woff') format('woff'),
url('../fonts/OpenSansBold.ttf') format('truetype');}
@font-face{font-family:'OpenSansRegular';src:url('../fonts/OpenSansRegular.eot');src:url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
url('../fonts/OpenSansRegular.woff2') format('woff2'),
url('../fonts/OpenSansRegular.woff') format('woff'),
url('../fonts/OpenSansRegular.ttf') format('truetype');}
@font-face {
    font-family: ArialMT;
    src: url(../fonts/ARIALMT.ttf) format('truetype');
    src: url(../fonts/arialmt-opentype.otf) format('otf');
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
    font-family: AracneCondReg;
    src: url(../fonts/aracne.regular.otf) format('otf');
    src: url(../fonts/aracne.regular.ttf) format('truetype');
}
@font-face {
    font-family: Glyphicons Halflings;
    src: url(../fonts/glyphicons-halflings-regular.eot) format('otf');
    src: url(../fonts/glyphicons-halflings-regular.ttf) format('truetype');
}
.vr{display: block;
    width: 2px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50px;
    height: 30px;
    margin-left: 14px;
    /* margin-top: 40px; */}
.vrStyle{display:block;height:35px;background-color:white;margin-top:6%;margin-right:21px;}
h1{margin-top:0px;margin-bottom:0;}
.fullPage{background-color:#ffffff;}
.img-logo{width:auto;max-height:35px;}
select:required:invalid{color:#B7BACC;}
option[value=""][disabled]{display:none;}
option{color:black;width:20%;}
.toggleButton{margin:18px 15px 10px 10px;}

.navSectionStyle{float:right;padding: 25px 60px;}
.navSectionStyle-1{float:right;padding:15px 100px;}

.imageStyling{width:auto;height:auto;}

.liHeight{height:50px;}

#section1{width:100%;color:#fff;background-color:#ffffff;}


.readDiv{padding-left:100px;}
.readDivButton{padding-right:110px;padding-top:2.5%;}
.imageContent{position: absolute;text-align: right;top: 20%;right: 10%;}
.imageContent1{position: absolute;text-align: right;top: 40%;left: 5%;width: 60%;}
.imageContent2{position: absolute;text-align: center;top: 36%;width: 37%;left: 32%;}
.imageContent3{position: absolute;text-align: center;top: 58%;width: 37%;left: 32%;}
.imageContent4{position: absolute;text-align: center;top: 70%;width: 45%;left: 27%;}
.imageContent5{position: absolute;text-align: center;top: 84%;width: 45%;left: 27%;}
.homeContent{font-family:OpenSansBold;font-size:30px;line-height:1.4;letter-spacing:3px;color:#1fb2ea;}
.homeContent-0{font-family:OpenSansRegular;font-size:30px;line-height:1.4;letter-spacing:3px;color:#1fb2ea;}
.homeContent-1{font-family:OpenSansRegular;font-size:33px;line-height:0.6;color:#2c2e32;}
.homeContent-2{font-family:OpenSansRegular;font-size:33px;line-height:0.6;color:#2c2e32;}
.homeContent-3{font-family:OpenSansRegular;font-size:16px;line-height:0.9;color:#3a3c41;}
.homeContent-4{font-family:OpenSansRegular;font-size:16px;line-height:0.9;color:#3a3c41;}
.textMargin{margin-top:5%;}
.textMargin-1{margin-top:4%;}
.textMargin-2{margin-top:2%;}
@media only screen and (max-width:450px) and (min-width:280px){
    .homeContent{font-family:OpenSansBold;font-size:12px;line-height:1.4;letter-spacing:1px;color:#1fb2ea;}
    .homeContent-0{font-family:OpenSansRegular;font-size:12px;line-height:1.4;letter-spacing:0px;color:#1fb2ea;}
    .homeContent-1{font-family:OpenSansRegular;font-size:10px;line-height:0.6;color:#2c2e32;}
    .homeContent-2{font-family:OpenSansRegular;font-size:11px;line-height:0.6;color:#2c2e32;}
    .homeContent-3{font-family:OpenSansRegular;font-size:12px;line-height:0.9;color:#3a3c41;}
    .homeContent-4{font-family:OpenSansRegular;font-size:12px;line-height:0.9;color:#3a3c41;}
    .imageContent{position:absolute;text-align:right;right:15px;bottom:15px;}
    .imageContent1{position:absolute;text-align:right;right:15px;bottom:15px;}
    .imageContent2{position: absolute;text-align: center;top: 60%;width: 37%;left: 32%;}
    .textMargin{margin-top:0;}
    .textMargin-1{margin-top:0;}
    .textMargin-2{margin-top:0;}
}
.readParent{background-color:#2d455f;height:130px;width:100%;}
.readContent{color:white;font-family:OpenSansRegular;font-size:14px;line-height:1.6;padding:3% 0 1%;text-align:justify;}
.readContent1{color:white;font-family:OpenSansRegular;font-size:14px;line-height:1.6;padding:3% 0;text-align:justify;padding-top:0%;}
.readButtonParent{width:20%;padding-top:1.7%;margin-right:9.5%;}
.readButton{float:right;border-color:white;font-family:OpenSansRegular;font-size:12.5px;letter-spacing:0.2px;color:#ffffff;height:42px;background-color:#2D455F;}

@media only screen and (max-height:420px) and (min-height:300px){
    .imageContent{position:absolute;text-align:right;right:30px;bottom:15%;}
    .imageContent1{position:absolute;text-align:right;right:30px;bottom:15%;}
    .imageContent2{position: absolute;text-align: center;top: 74%;width: 37%;left: 32%;}
    .textMargin-1{margin-top:2%;}
    .homeContent{font-family:OpenSansBold;font-size:20px;line-height:1.4;letter-spacing:1px;color:#1fb2ea;}
    .homeContent-0{font-family:OpenSansRegular;font-size:20px;line-height:1.4;letter-spacing:0px;color:#1fb2ea;}
    .homeContent-1{font-family:OpenSansRegular;font-size:20px;line-height:0.6;color:#2c2e32;}
    .homeContent-2{font-family:OpenSansRegular;font-size:20px;line-height:0.6;color:#2c2e32;}
}

.vrStyleAbout{background-color:#e1e1e1;width:1px;height:150px;}
.aboutSectionsMargin{margin-left:5%;}
.aboutWeb{display:block;}
.aboutMobile{display:none;}
.marginZero{margin:0px;}
.text-center{text-align:center;}
.text-justify{text-align:justify;}
.blockHeading{
    font-family: Montserrat;
    font-size: 35px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.71;
    letter-spacing: 0.9px;
    text-align: center;
    color: #484646;}
.blockHeading1{font-family:OpenSansRegular;font-size:26px;line-height:1.5;letter-spacing:0px;color:#3a3c41;text-align:center;background-color:lightgrey;}
.aboutPara{font-family:OpenSansRegular;font-size:14px;line-height:1.9;color:#959595;margin-left:20%;margin-right:20%;text-align:center;padding-top:2%;}
.aboutPadding{padding-left:88px;}
.marginTopPercent{margin-top:3%;}
.paddingRightStyle{padding-right:95px;padding-left:0;}
@media only screen and (max-width:1440px) and (min-width:1280px){.aboutPadding{padding-left:72px;}
    .paddingRightStyle{padding-right:35px;padding-left:0;}
}
.aboutP2{font-family:OpenSansRegular;font-size:14px;line-height:1.8;letter-spacing:0.2px;color:#959595;}
@media only screen and (max-width:450px) and (min-width:280px){.aboutMarginPad{margin-top:10%;}
    .blockHeading img{display:none;}
    .aboutSectionsMargin{margin-left:0%;}
    .hospitalAbout{background-color:#1FB2EA;height:80px;width:80px;border-radius:50%;position:relative;}
    .aboutWeb{display:none;}
    .aboutMobile{display:block;}
    .blockHeading{padding:2%;font-weight: normal;  font-style: normal;  font-stretch: normal;  letter-spacing: 1.4px;  color: #000000;text-align:center}
    .blockHeading1{padding-top:5%;font-family:OpenSansRegular;font-size:15px;line-height:1.5;letter-spacing:0px;color:#3a3c41;text-align:center;background-color:lightgrey;}
    .aboutPara{font-family:OpenSansRegular;font-size:12px;line-height:1.5;color:#979797;margin-left:5%;margin-right:5%;text-align:center;padding-top:20px;}
    .paddingRightStyle{padding-right:0px;padding-left:0;}
    .aboutPadding{padding-left:0px;}
    .aboutP2{font-family:OpenSansRegular;font-size:12px;line-height:1.8;letter-spacing:0.2px;color:#959595;}
}
.plusImage{position:absolute;right:0;top:26px;}
.aboutP1{font-family:OpenSansRegular;font-size:14px;line-height:1.8;letter-spacing:0.2px;color:#3a3c41;font-weight:bold;}
.aboutSubchild{background-color:#1fb2ea;height:100%;width:80%;text-align:justify;float:right;margin-right:11px;}
.aboutSubchild-1{padding:5%;display:-webkit-inline-flex;display:inline-flex;}
.img-1{height:100%;width:auto;}
.aboutBlueP{font-family:OpenSansRegular;font-size:14px;line-height:1.4;letter-spacing:0.2px;color:#ffffff;}
.aboutBlueP-1{font-family:OpenSansRegular;font-size:14px;line-height:1.4;letter-spacing:0.2px;color:#ffffff;padding:5%;padding-top:0;}
.listP{opacity:0.8;font-family:OpenSansRegular;font-size:14px;line-height:1.4;letter-spacing:0.2px;color:#ffffff;padding-left:7%;}
   .aboutPara{font-family:OpenSansRegular;font-size:12px;line-height:1.5;color:#979797;margin-left:5%;margin-right:5%;text-align:center;padding-top:20px;}
    .paddingRightStyle{padding-right:0px;padding-left:0;}
    .blockHeading{padding:2%;font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 1.4px;
        color: #000000;text-align:center}
    .blockHeading1{padding-top:5%;font-family:OpenSansRegular;font-size:20px;line-height:1.5;letter-spacing:0px;color:#3a3c41;text-align:center;background-color:lightgrey;}
    .aboutWeb{display:none;}
    .aboutMobile{display:block;}

@media only screen and (max-width:1100px) and (min-width:980px){
    .blockHeading{font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 1.4px;
        color: #000000;text-align: center;padding: 1%;}
    .blockHeading1{padding-top:3%;font-family:OpenSansRegular;font-size:20px;line-height:1.5;letter-spacing:0px;color:#3a3c41;text-align:center;background-color:lightgrey;}
    .aboutPara{font-family: OpenSansRegular;font-size: 14px;line-height: 1.9;color: #959595;margin-left: 2%;margin-right: 2%;text-align: center;padding-top: 2%;}
    .paddingRightStyle{padding-right: 0;padding-left: 0;}.aboutWeb{display:none;}
    .aboutMobile{display:block;}.aboutMarginPad{margin-top:5%;}
}
@media only screen and (max-height:420px) and (min-height:300px){.blockHeading img{display:none;}
    .blockHeading{padding:2%;font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 1.4px;
        color: #000000;text-align:center}
    .blockHeading1{padding-top:5%;font-family:OpenSansRegular;font-size:15px;line-height:1.5;letter-spacing:0px;color:#3a3c41;text-align:center;background-color:lightgrey;}
    .aboutPara{font-family:OpenSansRegular;font-size:12px;line-height:1.5;color:#979797;margin-left:5%;margin-right:5%;text-align:center;padding-top:20px;}
    .paddingRightStyle{padding-right:0px;padding-left:0;}
    .aboutSectionsMargin{margin-left:0%;}
    .aboutWeb{display:none;}
    .aboutMarginPad{margin-top:6%;}
}
.transparentImage{height:100%;width:100%;}
.imageStylingMobile{height:80%;width:auto;}
.imageStyling-1{height:50%;width:auto; margin-bottom: 5%;}
.imageStyling-2{height:74vh;width:101%;}
.hospitalImages{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;}
.marginHospitalImage{margin-left:-2px;}
.workChildP{text-align:center;font-family:OpenSansRegular;font-size:17px;line-height:1.4;letter-spacing:3px;color:#ffffff;}
.workChildP-1{text-align:center;font-family:OpenSansRegular;font-size:35px;color:#ffffff;}
.workChildP-2{text-align:center;font-family:OpenSansRegular;font-size:16px;line-height:1.9;color:#ffffff;margin-top:4%;}
.workChildP-3{text-align:center;font-family:OpenSansRegular;font-size:17px;line-height:1.4;letter-spacing:3px;color:#ffffff;}
.workChildP-4{text-align:center;font-family:OpenSansRegular;font-size:35px;color:#ffffff;}
.workChildP-5{text-align:center;font-family:OpenSansRegular;font-size:16px;line-height:1.9;color:#ffffff;margin-top:4%;}
.hospitalRadioChild{position:absolute;z-index:10;transform:rotate(0deg);}
.hospitalRealImage{position:relative;padding:0;margin-bottom:0;}
.nurseRealImage{position:relative;padding:0;margin-bottom:0;}
.webSection3Class{display:block;}
.mobileSection3Class{display:none;}
.hospitalRealImageChild{position:absolute;top:0;right:0;left:0;bottom:0;}
.nurseRadioChild{position:absolute;left:-11px;top:135px;z-index:10;transform:rotate(0deg);}
.nurseImages{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;}
.hospitalRadio{background-color:#2d455f;height:74vh;position:relative;z-index:10;}
#hospital_radio input[type="radio"]{box-sizing:border-box;padding:0;-webkit-appearance:none;width:25px;height:25px;border:1px solid #64ceeb;border-radius:50%;outline:none;background-color:#ffffff;}
.margintop{margin-top:25%;}
.margintop-1{margin-top:25%;}
@media only screen and (max-height:750px) and (min-height:700px){.hospitalRadioChild{position:absolute;z-index:10;transform:rotate(0deg);}
    .nurseRadioChild{position:absolute;left:-11px;top:60px;z-index:10;transform:rotate(0deg);}
}
@media only screen and (max-height:549px) and (min-height:450px){.margintop-1{margin-top:13%;}
}
@media only screen and (max-height:599px) and (min-height:550px){.margintop{margin-top:15%;}
    .margintop-1{margin-top:13%;}
}
@media only screen and (max-height:680px) and (min-height:600px){.margintop{margin-top:38%;}
    .margintop-1{margin-top:23%;}
}
@media only screen and (max-height:549px) and (min-height:421px){.hospitalRadioChild{position:absolute;z-index:10;}
    .nurseRadioChild{position:absolute;left:46%;top:-37%;z-index:10;}
}
@media only screen and (max-height:599px) and (min-height:550px){.hospitalRadioChild{position:absolute;z-index:10;}
    .nurseRadioChild{position:absolute;left:48%;top:-33%;z-index:10;}
}
@media only screen and (max-height:680px) and (min-height:600px){.hospitalRadioChild{position:absolute;z-index:10;}
    .nurseRadioChild{position:absolute;left:46%;top:-33%;z-index:10;}
}
#hospital_radio input[type="radio"]:checked{background:#64ceeb;border: 4px solid #64ceeb;}
/*#hospital_radio div{margin-top:20px;}*/
@media only screen and (max-width:1580px) and (min-width:1280px){.hospitalImages{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;}
    .nurseImages{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;}
}
@media only screen and (max-width:450px) and (min-width:280px){.mobileBlockPadding{padding:0;}
    .marginLeft{margin-left:25%;}
    .margintop{margin-top:15%;}
    .webSection3Class{display:none;}
    .mobileSection3Class{display:block;}
    .marginHospitalImage{margin-left:0px;}
    .imageStyling-1{height:74%;width:auto;}
    .imageStylingMobile{height:90%;width:auto;}
    .imageStyling-2{height:100%;width:100%;}
    .hospitalImages{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;}
    .nurseImages{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;}
    .workChildP{text-align:left;font-family:OpenSansBold;font-size:15px;line-height:1.4;letter-spacing:3px;color:#ffffff;}
    .workChildP-1{text-align:left;font-family:OpenSansBold;font-size:15px;color:#ffffff;}
    .workChildP-2{text-align:left;font-family:OpenSansRegular;font-size:12px;line-height:1.5;color:#ffffff;margin-top:0;}
    .workChildP-3{text-align:right;font-family:OpenSansBold;font-size:15px;line-height:1.4;letter-spacing:3px;color:#ffffff;}
    .workChildP-4{text-align:right;font-family:OpenSansBold;font-size:15px;color:#ffffff;}
    .workChildP-5{text-align:right;font-family:OpenSansRegular;font-size:12px;line-height:1.5;color:#ffffff;margin-top:0;}
    .hospitalRadioChild{position:absolute;z-index:10;}
    .nurseRadioChild{position:absolute;z-index:10;transform:rotate(-90deg);-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-o-transform:rotate(-90deg);}
    .hospitalRealImage{height:100%;position:relative;padding:0 0 0 0;margin-bottom:8%;}
    .nurseRealImage{height:100%;position:relative;padding:0;margin-bottom:8%;}
    .hospitalRadio{background-color:#2d455f;height:100%;position:relative;z-index:10;}
    #hospital_radio input[type="radio"]{box-sizing:border-box;padding:0;-webkit-appearance:none;width:18px;height:18px;border:1px solid #2d455f;border-radius:50%;outline:none;background-color:#ffffff;margin-top:5px;}
    #hospital_radio input[type="radio"]:checked{background:white;border:4px solid #2d455f;}
}

.paddingZero{padding:0px;}


.imageStyling-3{width:100%;height:auto;}
.floatRight{float:right !important;}
.floatLeft{float:left !important;}
@keyframes downloadApp{from{background-position:0;}
    to{background-position:100%;}
}
@-webkit-keyframes downloadApp{from{background-position:0;}
    to{background-position:100%;}
}
@-moz-keyframes downloadApp{from{background-position:0;}
    to{background-position:100%;}
}
.downloadDivParent{position:absolute;top:0;right:0;left:0;bottom:0;z-index:100;}
.downloadPadding{margin:0;padding-top:40px;}
.downloadDiv{padding-left:100px;}
.imgHeight{height:auto;}
.landing-google{padding-top:15%;}
.googleImage{height:auto;width:auto;}
.downloadChild-1{font-family:OpenSansRegular;font-size:22px;color:#ffffff;font-weight:600;}
.downloadChild-0{font-family:OpenSansRegular;font-size:22px;color:#ffffff;}
.downloadChild-2{display:inline-flex;display:-webkit-inline-flex;width:50%;}
.hospitalDownload{font-family:OpenSansRegular;font-size:18px;line-height:2.8;letter-spacing:-0.4px;color:#ffffff;padding-left:10%;}
.webDiv{display:block;}
.mobileDiv{text-align:center;display:none;}
.paddingImage{margin-left:0px;}
.downloadOption{position:absolute;right:0;left:0;bottom:0;top:30%;z-index:100;}
.marginTopDownload{margin-top:0;}
.paddingGoogle{padding-left:0;}
.paddingTopFive{padding-top:0;}
.styleOfDownload{line-height:45px;margin-left:10%;}
.section6Image{height:100%;width:100%;}
@media only screen and (max-height:750px) and (min-height:600px){.landing-google{padding-top:15%;}
}
@media only screen and (max-width:1440px) and (min-width:1280px){.imgHeight{height:400px;}
}
@media only screen and (max-height:500px){.googleImage{height:40px;width:150px;}
    .styleOfDownload{line-height:35px;margin-left:10%;}
    .paddingTopFive{padding-top:5%;}
}
@media only screen and (max-height:680px) and (min-height:501px){.paddingTopFive{padding-top:5%;}
}
@media only screen and (max-height:750px) and (min-height:600px){.imgHeight{height:400px;}
}
@media only screen and (max-width:1440px) and (min-width:1280px){.downloadDiv{padding-left:105px;}
}
@media only screen and (max-height:750px) and (min-height:600px){.downloadPadding{margin:0;padding-top:40px;}
}
@media only screen and (max-height:680px){.downloadOption{position:absolute;right:0;left:0;bottom:0;top:15%;z-index:100;}
}
@media only screen and (max-width:450px) and (min-width:250px){.mapImage{height:350px;width:350px;}
    .contactParent{padding-left:18%;margin-top:-12%;}
}
@media only screen and (max-height:420px) and (min-height:300px){.copyright_text-1{padding-bottom:40px;padding-top:25px;font-family:OpenSansRegular;padding-right:0px;font-size:11px;line-height:2.0;letter-spacing:0.1px;color:#a7a7a7;float:right;margin-left:12%;}
    .copyright_text{padding-bottom:0px;padding-top:25px;font-family:OpenSansRegular;padding-right:0px;font-size:11px;line-height:2.0;letter-spacing:0.1px;color:#a7a7a7;float:right;margin-left:0;padding-left:0px;}
}
.mobileErrorDiv{display:none;}
.webErrorDiv{display:block;}
.errorDiv{background-color:#da2d2d;border-radius:5px;height:40px;}
.errorDiv p{color:white;text-align:center;line-height:40px;}


.homeStyle{line-height:100px;padding-right:120px;padding-top:0;font-family:OpenSansBold;font-size:12.5px;letter-spacing:0.2px;}
.heartStyle{height:100%;}
.regHospitalSpan{padding-left:10px;font-family:OpenSansRegular;color:rgba(0,0,0,0.38);}
@media only screen and (max-width:450px) and (min-width:280px){.mobileErrorDiv{display:block;}
    .mobileFourthRowPadding{padding-left: 5px;padding-right:5px;}
    .webErrorDiv{display:none;}
    .regHospitalSpan{padding-left:0px;font-family:OpenSansRegular;font-size:10px;color:rgba(0,0,0,0.38);}
    .homeStyle{line-height:60px;padding-right:15px;padding-top:7px;font-family:OpenSansBold;font-size:12.5px;letter-spacing:0.2px;}
    .heartStyle{height:10px;}

}
@media only screen and (max-width:1440px) and (min-width:1280px){
    .homeStyle{padding-top:0;padding-right:50px;}
}
.homeLink{float:right;}
.position{position:relative;}



.inputDiv{position:relative;height:100%;padding-top:5%;padding-left:5%;padding-right:5%;}
.submit_button{width:100%;height:62px;background-color:#0987b7;font-family:OpenSansRegular;font-size:19.3px;color:white;}
md-input-container input{font-family:OpenSansRegular;}
.indexZ{z-index:10;}
#msform{width:100%;margin:50px auto;text-align:center;position:relative;}
#msform1 .fieldset{border:0 none;border-radius:3px;padding:20px 30px;box-sizing:border-box;width:100%;}
#msform1 input, #msform textarea{font-family:OpenSansRegular;}
#msform1 input[type=button][disabled]{background-color:#d8d8d8;}
#msform1 input[type=button][disabled]:hover{box-shadow:0 0 0 2px white, 0 0 0 3px #d8d8d8;}
#msform1 .action-button{width:100px;background:#1fb2ea;color:white;border:0 none;border-radius:1px;cursor:pointer;padding:10px 5px;}
#msform1 .action-button:hover, #msform .action-button:focus{box-shadow:0 0 0 2px white, 0 0 0 3px #1fb2ea;}
.fs-title{font-size:15px;text-transform:uppercase;color:#2C3E50;margin-bottom:10px;}
.fs-subtitle{font-weight:normal;font-size:13px;color:#666;margin-bottom:20px;}
#progressbar{margin-bottom:30px;overflow:hidden;counter-reset:step;}
#progressbar li{list-style-type:none;text-transform:uppercase;width:16.66%;float:left;position:relative;font-family:OpenSansRegular;font-size:14px;line-height:42px;color:#3a3c41;}
#progressbar li.active:before, #progressbar li.active:after{background:#1fb2ea;font-family:OpenSansBold;font-size:16px;line-height:42px;color:#fff;}
#progressbar li:before{content:counter(step);counter-increment:step;width:42px;height:42px;line-height:42px;display:block;font-size:16px;color:#333;background:#d8d8d8;border-radius:50%;margin:0 auto 5px auto;}
#progressbar li:after{content:'';width:100%;height:5px;background:#d8d8d8;position:absolute;left:-43%;top:18px;z-index:-1;}
@media only screen and (max-width:1680px) and (min-width:1480px){#progressbar li:after{content:'';width:100%;height:5px;background:#d8d8d8;position:absolute;left:-41.5%;top:18px;z-index:-1;}
}
@media only screen and (max-width:1470px) and (min-width:1280px){#progressbar li:after{content:'';width:100%;height:5px;background:#d8d8d8;position:absolute;left:-40%;top:18px;z-index:-1;}
}
#progressbar li:first-child:after{content:none;}
#progressbar li.active{font-family:OpenSansBold;font-size:14px;line-height:42px;color:#3a3c41;}
@media only screen and (max-width:450px) and (min-width:335px){#progressbar li:after{content:'';width:100%;height:3px;background:#d8d8d8;position:absolute;left:-27%;top:14px;z-index:-1;}
}
@media only screen and (max-width:334px) and (min-width:300px){#progressbar li:after{content:'';width:100%;height:3px;background:#d8d8d8;position:absolute;left:-22%;top:14px;z-index:-1;}
}
@media only screen and (max-width:450px) and (min-width:460px){#progressbar li:after{content:'';width:100%;height:3px;background:#d8d8d8;position:absolute;left:-32%;top:14px;z-index:-1;}
}
@media only screen and (max-width:450px) and (min-width:280px){#progressbar{padding-left:0px;}
    #msform{width:100%;margin:30px auto;text-align:center;position:relative;}
    #progressbar li{list-style-type:none;text-transform:uppercase;width:16.66%;float:left;position:relative;font-family:OpenSansRegular;font-size:7px;line-height:15px;color:#3a3c41;}
    #progressbar li.active:before, #progressbar li.active:after{background:#1fb2ea;font-family:OpenSansBold;font-size:12px;line-height:30px;color:#fff;}
    #progressbar li:before{content:counter(step);counter-increment:step;width:30px;height:30px;line-height:30px;display:block;font-size:12px;color:#333;background:#d8d8d8;border-radius:50%;margin:0 auto 5px auto;}
    #progressbar li.active{font-family:OpenSansBold;font-size:7px;line-height:15px;color:#3a3c41;}
}
.md-input-focused label{color:grey !important;}
.md-input-focused .md-input{border-color:#DDDDDD !important;}
md-radio-button ._md-on{background-color:#1fb2ea;}
md-radio-button:not([disabled]).md-primary ._md-on{background-color:#1fb2ea;}
md-radio-button:not([disabled]).md-primary.md-checked ._md-off{border-color:#1fb2ea;}
md-radio-button.md-checked ._md-off{border-color:#1fb2ea;}
md-radio-button{margin-bottom:0px;}
md-radio-group:not([disabled]) .md-primary ._md-on{background-color:#1fb2ea;}
md-radio-group:not([disabled]) .md-primary.md-checked ._md-off{border-color:#1fb2ea;}
md-input-container .md-input[disabled]{color:black;}
#incometax{position:absolute;right:0;padding-left:101%;width:100%;overflow:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:url('icon-upload.svg') right no-repeat;}
#passportFile{position:absolute;right:0;padding-left:101%;width:100%;overflow:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:url('icon-upload.svg') right no-repeat;}
#sancReference{width:100%;position:absolute;right:0;padding-left:101%;overflow:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:url('icon-upload.svg') right no-repeat;}
#nurseCertificate{position:absolute;right:0;padding-left:101%;width:100%;overflow:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:url('icon-upload.svg') right no-repeat;}
#proofProfessional{position:absolute;right:0;padding-left:101%;width:100%;overflow:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:url('icon-upload.svg') right no-repeat;}
#hepatites{position:absolute;right:0;padding-left:101%;width:100%;overflow:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:url('icon-upload.svg') right no-repeat;}
.selectStyleForm{border:0px transparent;background-color:transparent;width:300px;padding-bottom:0;height:auto;font-family:OpenSansRegular;}
.paddingBottomPassport{padding-bottom:3%;}
@media only screen and (max-width:1590px) and (min-width:1280px){.selectStyleForm{width:200px;}
}
.marginEighty{margin-left:80%;}
.paddingFive{padding-left:5%;padding-right:5%;}
.widthAuto{width:auto;}
.paddingTopNurse{padding-top:35px;padding-bottom:0px;}
@media only screen and (max-width:680px) and (min-width:250px){.paddingTopNurse{padding-top:35px;padding-bottom:35px;}
    .paddingBottomPassport{padding-bottom:10%;}
}
.radioWithBorder{width:100%;display:inline-flex;display:-webkit-inline-flex;border-bottom:1px solid #DDDDDD;position:relative;}
.radioBorderLabel{width:auto;color:#9B9B9B;position:absolute;bottom:100%;left:0;right:auto;}
.radioBorderLabel-1{position:absolute;bottom:100%;left:auto;right:0;color:#9B9B9B;display:inherit;font-weight:500;}
@media only screen and (max-width:1600px) and (min-width:1280px){#incomeId{bottom:19px;}
}
.yesStyle{margin-bottom:0;}
.noStyle{margin-left:10px;margin-bottom:0;}
.passwordCheck{position:absolute;right:0;}
.fileSpan{position:absolute;left:5%;}
.selectWithBorder{width:100%;display:inline-flex;display:-webkit-inline-flex;border-bottom:1px solid #DDDDDD;position:relative;}
.selectLabel{width:auto;color:#9B9B9B;position:absolute;bottom:100%;left:0;right:auto;}
.selectLabel-1{position:absolute;bottom:100%;left:auto;right:0;color:#9B9B9B;display:inherit;font-weight:500;}
.radioWithoutBorder{width:100%;display:inline-flex;display:-webkit-inline-flex;position:relative;}
.stepFourRow{padding-top:1%;padding-left:5%;padding-right:5%;margin-top:1%;border:2px dashed #1fb2ea;border-bottom:0px dashed #1fb2ea;}
.stepFourRow-1{padding-top:0%;padding-left:5%;padding-right:5%;margin-top:0%;border-bottom:2px dashed #1fb2ea;border-left:2px dashed #1fb2ea;border-right:2px dashed #1fb2ea;}
.addMore{background-color:#0987b7;font-family:OpenSansRegular;height:40px;color:#ffffff;}
.paddingTwo{padding-top:2%;}
.stepNextRow{border-top:2px dashed grey;margin-top:2%;}
.stepLastRow{border-top:3px dashed grey;margin-top:5%;}
.marginTwo{margin-top: 6%;}
.stepFive{border-top:2px dashed grey;border-bottom:2px dashed grey;margin-top:2%;}
.threePadding{padding:3%;}
.topPadding{padding-top:20px;}
.fourthStepSpan{font-family:OpenSansBold;}
.image-upload{padding-bottom:2%;padding-top:0;}
@media only screen and (max-width:450px) and (min-width:280px){.stepFourRow{padding-top:1%;padding-left:0;padding-right:0;margin-top:1%;border:2px dashed #1fb2ea;border-bottom:0px dashed #1fb2ea;}
    .stepFourRow-1{padding-top:0;padding-left:0;padding-right:0;margin-top:0;border-bottom:2px dashed #1fb2ea;border-left:2px dashed #1fb2ea;border-right:2px dashed #1fb2ea;}
    .radioBorderLabel{width:auto;color:#9B9B9B;position:absolute;bottom:19px;left:0;right:auto;}
    .image-upload{padding-bottom:2%;padding-top:2%;}
    .marginEighty{margin-left:20%;}
    #incomeId{bottom:19px;}
    #engencyId{bottom:19px;}
    #privateHospital{bottom:19px;}
    #hepatitesParent{padding-top:0px;}
    #hepatitesRadio{padding-top:0px;}
    #criminalId{padding:10%;}
    .selectStyleForm{border:0px transparent;background-color:transparent;width:110px;padding-bottom:0;height:auto;font-family:OpenSansRegular;font-size:12px;}
    .fourthStepSpan{font-size:10px;font-family:OpenSansBold;}
    .stepFive{margin-top:5%;}
    .fileSpan{left:5%;padding-top: 20px;}
}
.image-upload > input{display:none;}
.image-upload img{width:80px;cursor:pointer;}
.image-upload-1{padding-bottom:0;padding-top:0;}
.image-upload-1{border-bottom:1px solid #e1e1e1;}
.image-upload-1 > input{display:none;}
.image-upload-1 .abc {float: right;}
.image-upload-1 img{width:auto;}
.image-upload-1 span img{width:auto;cursor:pointer;}
.mobileFileInput{display:none;}
.webFileInput{display:block;}
.wardDeselect{color:grey;font-family:OpenSansRegular;font-size:14px;}
.wardSelect{color:black;font-family:OpenSansBold;font-size:14px;}
.hospitalDeselect{color:grey;font-family:OpenSansRegular;font-size:14px;}
.hospitalSelect{color:black;font-family:OpenSansBold;font-size:14px;}
.nursePaddingBottom{padding-bottom:20px;}
.logoutYes{width:40%;height:62px;font-size:19.3px;color:#ffffff;background-color:#0987b7;}
.logoutNo{width:40%;height:62px;font-size:19.3px;color:#ffffff;margin-left:40px;background-color:#0987b7;}
md-input-container.md-input-has-value #UploadFile:not(.md-no-float){-webkit-transform:translate3d(0,20px,0) scale(.75);transform:translate3d(0,20px,0) scale(.75);}
md-input-container #UploadFile:not(.md-no-float):not(._md-container-ignore){-webkit-transform:translate3d(0,28px,0) scale(1);transform:translate3d(0,28px,0) scale(1);}
md-input-container.md-input-has-value #UploadFile-1:not(.md-no-float){-webkit-transform:translate3d(0,20px,0) scale(.75);transform:translate3d(0,20px,0) scale(.75);}
md-input-container #UploadFile-1:not(.md-no-float):not(._md-container-ignore){-webkit-transform:translate3d(0,28px,0) scale(1);transform:translate3d(0,28px,0) scale(1);}
md-input-container.md-input-has-value #UploadFile-2:not(.md-no-float){-webkit-transform:translate3d(0,20px,0) scale(.75);transform:translate3d(0,20px,0) scale(.75);}
md-input-container #UploadFile-2:not(.md-no-float):not(._md-container-ignore){-webkit-transform:translate3d(0,28px,0) scale(1);transform:translate3d(0,28px,0) scale(1);}
md-input-container.md-input-has-value #UploadFile-3:not(.md-no-float){-webkit-transform:translate3d(0,20px,0) scale(.75);transform:translate3d(0,20px,0) scale(.75);}
md-input-container #UploadFile-3:not(.md-no-float):not(._md-container-ignore){-webkit-transform:translate3d(0,28px,0) scale(1);transform:translate3d(0,28px,0) scale(1);}
md-input-container.md-input-has-value #UploadFile-4:not(.md-no-float){-webkit-transform:translate3d(0,20px,0) scale(.75);transform:translate3d(0,20px,0) scale(.75);}
md-input-container #UploadFile-4:not(.md-no-float):not(._md-container-ignore){-webkit-transform:translate3d(0,28px,0) scale(1);transform:translate3d(0,28px,0) scale(1);}
.messageDiv{padding-top:50px;text-align:center;font-size:18px;color:#828282;}
.popUpButton{width:90%;height:62px;font-size:19.3px;color:#ffffff;background-color:#0987b7;}
.popUpSpan{padding:1.5em;}
.popUpSpan-1{padding:1.5em;}
@media only screen and (max-width:450px) and (min-width:280px){.popPadding{padding:1em;}
    .ngdialog.ngdialog-theme-default .ngdialog-content{width:200px;}
    .messageDiv{padding-top:0px;font-size:15px;}
    .popUpSpan{padding:0;}
    .popUpSpan-1{padding:0;}
    .logoutYes{height:30px;font-size:12.3px;width:40%;}
    .logoutNo{height:30px;font-size:12.3px;width:40%;}
    .popUpButton{height:30px;font-size:12.3px;width:100%;}
    .wardDeselect{color:grey;font-family:OpenSansRegular;font-size:10px;}
    .wardSelect{color:black;font-family:OpenSansBold;font-size:10px;}
    .hospitalDeselect{color:grey;font-family:OpenSansRegular;font-size:10px;}
    .hospitalSelect{color:black;font-family:OpenSansBold;font-size:10px;}
    .overflowX{overflow-x:hidden;}
}
.labelIconClass{height:auto;width:auto;}
.para{width:100%;opacity: 0.7;font-family: ArialMT;font-size: 24px;line-height: 1.79;letter-spacing: 0.7px;text-align: center;color: #000000;}
.navbar-fixed-bottom{background-color: white;min-height:200px}
.blueText{font-family: AracneCondReg;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #3aa4d9;margin-left: 2%;}
.list, .list ul {
    margin-top: 0;
    padding-left: 2em;
    list-style-type: none;
    font-family: ArialMT;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    color: #000000;
}
.list li:before {
    position: absolute;
    margin-left: -1.3em;
    font-weight: bold;
}
.list li.tick:before {
    content: "\2713";
    color: #3aa4d9;
}
.videoImage{
    margin-left: -7%;
}
.bannerMobile{
    width: 443px;
    height: 760px;
}
@media only screen and (max-width:1274px) and (min-width:1257px)
{
    .imageContent2{
        top: 32%;
    }
    .videoImage {
        margin-left: -36%;
    }
    .bannerMobile{
        width: 320px;
        /*height: 430px;*/
    }
}
.text-additional{
    width: 189px;
    height: 24px;
    font-family: ArialMT;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #64ceeb;
}
.footerTitles{
    font-family: Code-Pro-LC;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 1.1px;
    color: #ffffff;
}
.privacy{
    font-family: ArialMT;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 1.1px;
    color: #a5a5a5;
}
.content{
    opacity: 0.5;
    font-family: ArialMT;
    font-size: 17.8px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.01;
    color: #ffffff;
}
.serviceImages
{
    max-width: 115px;
    max-height: 115px;
}
.serviceData{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #57585a;
}
.serviceSmallData{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    text-align: center;
    color: #57585a;
}
.sectionsServices
{
    min-width: 346px;
    min-height: 346px;
}
.navbar-inverse .navbar-nav > li > a{
    font-family: Montserrat;
    font-size: 17.8px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: white;
}
#backtop.light {
    bottom: 10%;
    right: 0%;
}
#backtop {
    /*opacity: 0;*/
    transition: all .3s ease-out;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    z-index: 100;
}
.line {
    display: table;
    white-space: nowrap;
}
.line:before,
.line:after {
    background: linear-gradient(to bottom, #fff, #fff) no-repeat center / 98% .2em;
    content: '';
    display: table-cell;
    width: 50%;
}
@media (min-width: 3540px) {
    .navbar-nav > li {
        float: left;
        margin-right: 10px;
    }
}
#msform{width:100%;margin:50px auto;text-align:center;position:relative;margin-left: 10%;}
#msform .action-button:focus{box-shadow:0 0 0 2px white, 0 0 0 3px #1fb2ea;}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
    /*color:white;*/
}
.rewardsText
{
    font-family: Montserrat;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    text-align: center;
    color: #ffffff;
}
.detailsImage{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    text-align: center;
    color: #ffffff;
}
.underlineCustom{
    width: 173px;
    height: 3px;
    opacity: 0.55;
    border-radius: 31px;
    background-color: #d8d8d8;
    margin-top:25%;
    margin-bottom:25%;
}
.underlineCustom1{
    width: 173px;
    height: 3px;
    opacity: 0.55;
    border-radius: 31px;
    background-color: #d8d8d8;
    margin-top:17%;
    margin-bottom:13%;
}

.featureDesc{
     font-family: Montserrat;
     font-size: 14px;
     font-weight: 300;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.71;
     text-align: center;
     color: #57585a;
 }
.section4Heading{
    font-family: Montserrat;
    font-size: 35px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.9px;
    text-align: center;
    color: #ffffff;
}
.contentDownload{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    text-align: center;
    color: #ffffff;
    margin-top:5%
}
.HeadingsFaq{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff;
}
.faqData{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    color: #000;
    text-align: left;
}
.boxCustom{
    width: 292px;
    height: 303px;
    border: solid 2px #ffffff;
    margin-left: 30%;
}
.aboutUsData{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: 0.4px;
    color: #ffffff;
}
.show{
    display: block;
}
.noShow{
    display:none;
}
.widthImageFeatures{
    width:100%
}

.playIcons{
    width: 294px;height: 86px;margin-top: 7%;
}
.dataTouch{
    position: absolute;text-align: center;top: 86%;width:100%
}
.faqDataRow{
    position: absolute;text-align: center;top: 61%;width:100%
}
.footerImageLogo{
    margin-bottom: 25%;
}
.mapFooter{
    margin-top:5%;
}
.socialIcons{
    margin-right:6%
}
@media only screen and (max-width:1440px) and (min-width:1280px){
    .widthImageFeatures{
        width:91%;
        /*margin-top:15%*/
    }
}
@media only screen and (max-width:1670px) and (min-width:1275px)
{
    .playIcons{
        width: 221px;
        height: 70px;
        margin-top: 5%;
    }
    .imageContent2{
        top: 32%;
    }
    .videoImage {
        margin-left: -37%;
    }
}
#mapDiv{
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.carousel-indicators .active
{
    background-color:#D2A24B;
    border:1px solid #D2A24B
}
.carousel-indicators li{
    border:1px solid #D2A24B
}
.carousel-indicators{
    top:98%
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-chevron-right:before {
    /*content:"\e080" !important;*/
    font-family: 'Glyphicons Halflings';
    content: "\e080" !important;
}
.glyphicon-chevron-left:before {
    content:"\e079" !important;
}
.left-images{
    height: 400px;
}
.portfolio a{
    margin: 0;
    border:4px solid transparent;
    display:inline-block;
    -webkit-border-radius:10px;
    border-radius: 10px;
    opacity:0.9;

    -webkit-transition:all .3s ease-in;
    -moz-transition:all .3s ease-in;
    -ms-transition:all .3s ease-in;
    -o-transition:all .3s ease-in;
    transition: all .3s ease-in;
}

.portfolio a:hover{
    border-color:transparent ;
    transform: scale(1.2);
    opacity:1;
}