.memberContent1{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.79;
    color: #00374f;
    margin-bottom: 5px;
}
.memberContent2{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #00374f;
    margin-bottom: 5px;
}
.memberContent3{
    border-top: solid 1px #979797;;
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    color: #00374f;
    margin-bottom: 5px;

}
.packages1 ul,.packages3 ul,.packages2 ul {
   list-style: none;
}




.packages1 ul{
    padding: 0px;
    width: 40%;
    margin: 0 30%;
    margin-bottom: 20px;
    float: left;
}
.packages1 ul li{
    padding: 20px 0;
    width: 100%;
}

@media only screen and (max-width: 1100px) and (min-width: 600px) {

}
@media only screen and (max-width: 600px){
    .packages2 ul{
        padding: 0px;
        width: 60%;
        margin: 0 20%;
        margin-bottom: 20px;
        float: left;
    }
}



.packages2 ul{
    padding: 0px;
    width: 60%;
    margin: 0 20%;
    margin-bottom: 20px;
    float: left;
}
.packages2 ul li{
    padding: 20px 0;
    width: 46%;
    margin: 0 2%;
    float: left;
}

@media only screen and (max-width: 1100px) and (min-width: 600px) {
    .packages2 ul{
        padding: 0px;
        width: 80%;
        margin: 0 10%;
        margin-bottom: 20px;
        float: left;
    }
}
@media only screen and (max-width: 600px){
    .packages2 ul{
        padding: 0px;
        width: 100%;
        margin: 0 ;
        margin-bottom: 20px;
        float: left;
    }
}




.packages3 ul{
    padding: 0px;
    width: 90%;
    margin: 0 5%;
    margin-bottom: 20px;
    float: left;
}
.packages3 ul li{
    padding: 20px 0;
    width: 31%;
    margin: 0 1%;
    float: left;
    min-height: 440px;
}

@media only screen and (max-width: 1100px) and (min-width: 600px) {
    .packages3 ul{
        padding: 0px;
        width: 100%;
        margin: 0 ;
        margin-bottom: 20px;
        float: left;
    }
}
@media only screen and (max-width: 600px){
    .packages3 ul{
        padding: 0px;
        width: 100%;
        margin: 0 ;
        margin-bottom: 20px;
        float: left;
    }
}




.packages4 ul{
    padding: 0px;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    float: left;
}
.packages4 ul li{
    padding: 20px 0;
    width: 23%;
    margin: 0 1%;
    float: left;
}

@media only screen and (max-width: 1100px) and (min-width: 600px) {
    .packages4 ul{
        padding: 0px;
        width: 100%;

        margin: 0 ;
        margin-bottom: 20px;
        float: left;
    }
}
@media only screen and (max-width: 600px){
    .packages4 ul{
        padding: 0px;
        width: 100%;
        margin: 0 ;
        margin-bottom: 20px;
        float: left;
    }
    .packages4 ul li{
        width: 46%;
        margin: 0 2%;
        float: left;
    }
}
