<div class="block-center mt-xl wd-xl" ng-controller="RestPasswordController">
    <!--INVALID ACCESSTOKEN -->
    <div id="panelDemo12" class="panel panel-danger" ng-show="show_err" style="margin-top:50%">
        <div class="panel-heading text-center" style="opacity: 0.6;">This token has already <b>Expired </b><br> or is <b>Invalid.</b></div>
        <div class="panel-footer">
        <span class="label label-account" style="color:black"><a ui-sref="page.login" class="btn btn-block btn-default" href="#/page/login">Back to Login</a> </span>
</div></div>

    <!-- START panel-->
    <div class="panel panel-dark panel-flat" ng-show="show_reset">
        <div class="panel-heading text-center">
            <a href="#">
                <img src="app/img/Kobo_logo.png" alt="Image" class="block-center img-rounded" style="width:100%;height:100%;"/>
            </a>
        </div>
        <div class="panel-body">
            <p class="text-center pv">{{text}}</p>
            <form role="form" ng-submit="resetPassword()" validate-form="" novalidate="" class="mb-lg">
                <div class="form-group has-feedback">
                    <input type="password"  placeholder="Enter password" class="form-control" ng-model="resetPass.password" data-parsley-minlength="6" required="required"/>
                </div>
                <div class="form-group has-feedback">
                    <input type="password"  placeholder="Enter confirm password" class="form-control" ng-model="resetPass.confirmpassword" required="required"/>
                </div>
                <button type="submit" class="btn btn-primary btn-block login-btn">Reset</button>
            </form>
            <div ng-show="errorMsg" class="alert alert-danger text-center">{{errorMsg}}</div>
            <div ng-show="successMsg" class="alert alert-success text-center">{{successMsg}}</div>
        </div>
    </div>
    <!-- END panel-->
</div>