<script type="text/javascript">
    $(document).click(function (e){
        var container = $(".user-name");
        if (!container.is(e.target) // if the target of the click isn't the container...
                && container.has(e.target).length === 0) // ... nor a descendant of the container
        {
            $('.registered-user-menu').removeClass('displayDropDown');
        }
    });
</script>
<div ng-switch="loggedIn">
<header class="clearfix header unauth-header" ng-hide="$state.includes('home.homeScreen')" ng-switch-default>
    <div class="container">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
<div class="header-logo">
    <a href="/" > <img class="logUnauth" ng-click="var='SIGN IN'" ui-sref="home.homeScreen.search" src="images/logo.png" alt="" /> </a>
</div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
        <div class="clearfix">
           
            <ul class="unauth-menu pull-right">
                <li ng-click="var='SIGN UP'" ng-class="{'active': var == 'SIGN UP'}"><a ui-sref="home.signup">SIGN UP</a></li>
                <li ng-click="var='SIGN IN'" ng-class="{'active': var == 'SIGN IN'}"><a ui-sref="home.login">SIGN IN</a></li>
            </ul>
        </div>
    </div>
    </div>
</header>


<header class="header-2" ng-switch-when="true">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="header-top">
              <!-- <div class="logo-area">
                <a href="#"><img src="images/logo-2.png" alt=""></a>
              </div> -->
              <div class="header-top-toggler">
                <div class="header-top-toggler-button"></div>
              </div>
              <div class="top-nav">
                 <div class="dropdown header-top-notification">
                   <span class="notificationOuter">
                    <img class="bell" ng-init="imgSRC='images/notify.png'; imgSRC1='images/notify_red.png'" ng-click="imgSRC1='images/notify.png';call_notification()" ng-src="{{notification.length > 0 ? imgSRC1 : imgSRC}}" />
                     <i class="notificationCounter" ng-if="imgSRC1=='images/notify_red.png' && notification.length > 0">{{notification.length}}</i><!-- <span class="user-name" style="margin: 0 -28px 0 0;">Notifications</span> -->
                </span>
                <div class="notification" ng-if="notification.length > 0">
                    <ul>
                        <li ng-repeat="n in notification track by $index">{{n.message}}<span ng-if="n.notificationType == 3" ng-click="goToUpcomingInterview($index)">Click to view details</span><span ng-if="n.notificationType == 5" ng-click="goToAggregaredScore($index)">Click to view details</span><span ng-if="n.notificationType == 6" ng-click="goToRecruiterMessage($index)">Click to view details</span></li>
                    </ul>
                </div>
                </div> 
               <div class="user-name">{{userData.firstName}}<img onclick="$('.registered-user-menu').toggleClass('displayDropDown');" ng-src="{{userData.profilePicURL.original}}" alt="" />
                    <ul class="registered-user-menu">
                        <li><a ui-sref="home.changePassword">Change Password</a></li>
                        <li><a ui-sref="home.faq">Faq</a></li>
                        <li><a ng-click="logout()">Logout</a></li>
                    </ul>
                </div>
                
              </div>
            </div>
            <nav class="navbar navbar-expand-lg cp-nav-2">
        <div class="logo-area logo-t">
                <a href="landing-page.html"><img src="design/images/logo.png" class="img-respo" alt=""></a>
              </div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <!-- <li class="menu-item active"><a title="Home" class="navlink" href="home.html">Home</a></li>
                  <li class="menu-item "><a  href="job-list.html" >Jobs</a></li>
                  <li class="menu-item"><a href="dashboard.html">Dashboard</a></li> -->
                  <li ng-click="var = 'HOME'" ng-class="{'selected': var == 'HOME'}" class="menu-item active"><a ui-sref="home.dashboard.aggregatedScore">HOME</a></li>
                    <li ng-click="var = 'JOBS'" ng-class="{'selected': var == 'JOBS'}" class="menu-item"><a ui-sref="home.search">JOBS</a></li>
                    <li ng-click="var = 'INBOX'" ng-class="{'selected': var == 'INBOX'}" class="menu-item"><a ui-sref="home.inbox.inboxTab.alerts">INBOX</a></li>
                 
                </ul>
         
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
</div>
<div ui-view=""></div>
<!-- <footer class="footer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="$state.includes('home.homeScreen')">
    <div class="container">
        <div class="row clearfix">
            <div class="footer-menu pull-left">
                <img src="images/footer-logo.png" alt="" />
                <ul>
                    <li><a ui-sref="home.login">Home</a></li>
                    <li><a ui-sref="home.upcoming">Career</a></li>
                    <li><a ui-sref="home.upcoming">Support</a></li>
                </ul>
            </div>
            <div class="copyright pull-right">
                Copyright &copy; 2016 CVIQ. All Rights Reserved.
            </div>
        </div>
    </div>
</footer>
 -->

<footer class="footer">
            <div class="container">
                
                <!-- Row Start -->
                <div class="row" >
                
                    <div class="col-md-8 col-sm-8">
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-4 col-sm-4">
                                <h4>For Candidate </h4>
                                <ul>

                                    <li><a href="#">Add a Resume</a></li>
                                    <li><a href="#">Candidate Dashboard</a></li>
                                    <li><a href="#">Past Applications</a></li>
                                    <li><a href="#">Job Alerts</a></li>
                                    <li><a href="#">Bookmarks</a></li>
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Your Jobs</a></li>



                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <h4>For Employers</h4>
                                <ul>
                                    <li><a href="#">Browse Candidates</a></li>
                                    <li><a href="#">Employer Dashboard</a></li>
                                    <li><a href="#">Add Job</a></li>
                                    <li><a href="#">Job Page</a></li>
                                    <li><a href="#">Job Packages</a></li>
                                    <li><a href="#">Work Process</a></li>
                                    <li><a href="#">My Account</a></li>                             
                                    
                                    
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <h4>Information</h4>
                                <ul>
                                     <li><a href="#">About Us</a></li>
                                     <li><a href="#">Terms & Conditions</a></li>
                                     <li><a href="#">Privacy Policy</a></li>
                                     <li><a href="#">Careers with Us</a></li>
                                     <li><a href="#">Sitemap</a></li>
                                     <li><a href="#">Contact Us</a></li>
                                     <li><a href="#">FAQs</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-4" style="margin-top: 15px;">
                        <h4>Subscribe For Job Alerts</h4>
                        <!-- Newsletter -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Email">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="fa fa-location-arrow font-20"></i></button>
                            </span>
                        </div>
                        
                        <!-- Social Box -->
                        <div class="f-social-box">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-google google-plus-cl"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter twitter-cl"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest pinterest-cl"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram instagram-cl"></i></a></li>
                            </ul>
                        </div>
                        
                        <!-- App Links -->
                        <div class="f-app-box">
                            <ul>
                                <li class="appbtns-fullsize"><a href="#"><i class="fab fa-apple"></i>App Store</a></li>
                                <li class="appbtns-fullsize"><a href="#"><i class="fab fa-android"></i>Play Store</a></li>
                            </ul>
                        </div>
                        
                    </div>
                    
                </div>
                
                <!-- Row Start -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright text-center">
                            <p>&copy; Copyright 2019 CVIQ 360 By  <a href="http://www.appmasoninc.com">Appmason Inc</a></p>
                        </div>
                    </div>
                </div>
                
            </div>
        </footer>
    
 <script type="text/ng-template" id="logout" class="ngDialog-theme-default">
    <h1>LOGOUT CONFIRMATION</h1>
    <p>Do you really want to Logout ?</p>
    <div class="clearfix">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><button ng-click="confirmLogOut()" type="submit">YES</button></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><button ng-click="denyLogOut()" type="submit">NO</button></div>
    </div>
</script>