<style>
   .filterclass input[type="checkbox"] {
    display:block;
    height: 15px;
    margin:0px -40px 0px 0px;
    }
    .question-bank {
        margin-top: 100px;
    }
    .form-elements label {
  
    left: 13px;
    
}



input[type="checkbox"], input[type="radio"]{
	position: absolute;
	right: 9000px;
}


input[type="checkbox"] + .label-text:before{
	content: "\f096";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}

input[type="checkbox"]:checked + .label-text:before{
	content: "\f14a";
	color: #2980b9;
	animation: effect 250ms ease-in;
}
.basic-search input[type="button"] {
    color: #ffffff;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
    background: #0297cf;
    border: none;
    padding: 0;
  
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(45, 37, 41, 0.26);
font-size: 13px;
border-radius: 30px;
text-decoration: none;
}
input[type="checkbox"]:disabled + .label-text{
	color: #aaa;
}

input[type="checkbox"]:disabled + .label-text:before{
	content: "\f0c8";
	color: #ccc;
}



input[type="radio"] + .label-text:before{
	content: "\f10c";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}

input[type="radio"]:checked + .label-text:before{
	content: "\f192";
	color: #8e44ad;
	animation: effect 250ms ease-in;
}

input[type="radio"]:disabled + .label-text{
	color: #aaa;
}

input[type="radio"]:disabled + .label-text:before{
	content: "\f111";
	color: #ccc;
}

/*Radio Toggle*/

.toggle input[type="radio"] + .label-text:before{
	content: "\f204";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 10px;
}

.toggle input[type="radio"]:checked + .label-text:before{
	content: "\f205";
	color: #16a085;
	animation: effect 250ms ease-in;
}

.toggle input[type="radio"]:disabled + .label-text{
	color: #aaa;
}

.toggle input[type="radio"]:disabled + .label-text:before{
	content: "\f204";
	color: #ccc;
}
.filter span {
  
    margin-right: 0px;
}

@keyframes effect{
	0%{transform: scale(0);}
	25%{transform: scale(1.3);}
	75%{transform: scale(1.4);}
	100%{transform: scale(1);}
} 


.main-section-profile .ProfileFormElements button{
    box-shadow: 0px 1px 4px rgba(45, 37, 41, 0.14);
font-size: 13px;
border-radius: 30px;

}
.dropdown-toggle::after{opacity: 0;}
.easy-autocomplete{width: 100% !important;}
.ProfileFormElements .main-dropdown .dropdown-menu ul li.active {
    background: #0297cf;
}
.ProfileFormElements .custom-select-box .btn-group.bootstrap-select .dropdown-menu li.active a {
    background: #0297cf;
}
.dropdown-menu li:hover {
    background: #0297cf;
    color: #fff;
}
.ProfileFormElements .custom-select-box .btn-group.bootstrap-select .dropdown-menu li a:hover{
    color: #fff;
}
.main-section-profile .ProfileFormElements span:hover{color: #7a7a7a;}
@media only screen and (max-width:767px){
    .question-bank {
    margin-top: 110px;
}
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #a5f7ff;
    border-color: #8c8c8c;
}
.filter {
    width: 19%;
    box-shadow: 3px 3px 10px rgba(45,37,41,.38);
    float: left;
    color: #ffffff;
    font-size: 14px;
    background: antiquewhite;
    padding: 10px;
    background-color: #0297cf;
    border-radius: 5px;


}
input[type="checkbox"]:checked + .label-text1:before {
    content: "\f14a";
    color: #2980b9;
    animation: effect 250ms ease-in;
}
@keyframes effect{
	0%{transform: scale(0);}
	25%{transform: scale(1.3);}
	75%{transform: scale(1.4);}
	100%{transform: scale(1);}
} 
.toggle input[type="radio"]:disabled + .label-text1:before{
	content: "\f204";
	color: #ccc;
}
.toggle input[type="radio"]:disabled + .label-text1{
	color: #aaa;
}
.toggle input[type="radio"] + .label-text1:before{
	content: "\f204";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 10px;
}

.toggle input[type="radio"]:checked + .label-text1:before{
	content: "\f205";
	color: #16a085;
	animation: effect 250ms ease-in;
}

input[type="checkbox"], input[type="radio"]{
	position: absolute;
	right: 9000px;
}


input[type="checkbox"] + .label-text1:before{
	content: "\f096";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}

input[type="checkbox"]:checked + .label-text1:before{
	content: "\f14a";
	color: #ffffff;
	animation: effect 250ms ease-in;
}
.basic-search input[type="button"] {
    color: #ffffff;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
    background: #0297cf;
    border: none;
    padding: 0;
  
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(45, 37, 41, 0.26);
font-size: 13px;
border-radius: 30px;
text-decoration: none;
}
input[type="checkbox"]:disabled + .label-text1{
	color: #aaa;
}

input[type="checkbox"]:disabled + .label-text1:before{
	content: "\f0c8";
	color: #ccc;
}



input[type="radio"] + .label-text1:before{
	content: "\f10c";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}

input[type="radio"]:checked + .label-text1:before{
	content: "\f192";
	color: #8e44ad;
	animation: effect 250ms ease-in;
}

input[type="radio"]:disabled + .label-text1{
	color: #aaa;
}

input[type="radio"]:disabled + .label-text1:before{
	content: "\f111";
	color: #ccc;
}
.search-section {
    margin: 0px 0;margin-bottom: 50px;
}
.color-li ul li a{color: #fff;}
</style>
<section class="clearfix">
    <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inbox-bg">
        <div class="container text-center main-section-profile question-bank">
            <form name="searchJob" ng-submit="searchJob.$valid&&searching(search)" novalidate>
                <div class="row">
                   <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                    <div class="ProfileFormElements clearfix form-elements">
                        <div class="custom-select-box main-dropdown advance-search">
                            <label>KEYWORDS</label>
                            <input class="search-input" id="NewKeywordSearch"  name="keywords" type="text" ng-model="search.keywords" placeholder="Enter Keywords" required>
                        </div>
                        <div ng-show="searchJob.$submitted || searchJob.keywords.$valid && searchJob.keywords.$invalid">
                                <div class="error-message" ng-show="searchJob.keywords.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
                        </div>
                    </div> 
                </div>
                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                   <div class="ProfileFormElements clearfix form-elements">
                        <div class="custom-select-box main-dropdown advance-search">
                            <label>LOCATION</label>
                            <input class="search-input" id="LocationSearch"  name="location" autocomplete="off" type="text" ng-model="search.location" placeholder="Enter location" required>
                        </div>
                        <div ng-show="searchJob.$submitted || searchJob.location.$valid && searchJob.location.$invalid">
                                <div class="error-message" ng-show="searchJob.location.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12">
                    <input  id="zipcode"  name="zipcode" type="hidden" ng-model="search.zipcode">
                    <div class="ProfileFormElements clearfix form-elements col-lg-3 col-md-3 col-sm-3 col-xs-12">    
                        <div class="form-check">
                            <label>     
                        <input type="checkbox" name="Searchagent" value="checked" ng-model="search.searchAgent"  style="display:block !important" checked> <span class="label-text" style="font-size: 20px;">  </span> 
                        
                              
                            </label>
                        </div> </div>
                    </div>
                </div>
                  
                <p ng-show="!typeSearch" class="basic-search"><input type="button" ng-click="asearches()" value="Advanced Search"></p>
               
                <div class="row advance-search-dropdowns" ng-show="typeSearch">
                    <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-12">
                      <div class="ProfileFormElements clearfix form-elements">
                        <div class="custom-select-box main-dropdown advance-search">
                            <label>INDUSTRY</label>
                            <select id="sel-industry" ng-init="search.industry=''" name="selIndustry" ng-model="search.industry" ng-change="selectedIndustry(search.industry)" class="selectpicker" data-live-search="true" ng-options="indus.industryName for indus in searchDropDownData.industryList track by indus.industryName " >
                                <option value="" >Select Industry</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="ProfileFormElements clearfix form-elements">
                        <div class="custom-select-box main-dropdown advance-search">
                            <label>FUNCTIONAL AREA</label>
                            <select ng-init="search.functionalArea=''" name="functionalArea" ng-model="search.functionalArea" class="selectpicker" data-live-search="true" ng-options="area.functionalAreaName for area in functionAreaList">
                                <option value="" >Select Functional Area</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="ProfileFormElements clearfix form-elements">
                        <div class="custom-select-box main-dropdown advance-search">
                            <label>EXPERIENCE</label>
                            <select name="experience" ng-model="search.experience" class="selectpicker" data-live-search="true" ng-options="exp for exp in searchDropDownData.ExperienceList">
                                <option value="">Select Experience</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="ProfileFormElements clearfix form-elements">
                        <div class="custom-select-box main-dropdown advance-search">
                            <label>HIGHEST QUALIFICATION</label>
                            <select name="qual" ng-model="search.qual" ng-change="getQualID(search.qual)" class="selectpicker" data-live-search="true" ng-options="quals for quals in searchDropDownData.highestQualification">
                                <option value="" >Select Highest Qualification</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="ProfileFormElements clearfix form-elements">
                    <div class="ProfileFormElements clearfix form-elements">
                        <div class="custom-select-box main-dropdown advance-search">
                            <label>ANNUAL SALARY</label>
                            <input class="search-input" style="border: solid 1px #dedede;" ng-keypress='isNumberKey($event)' maxlength="10" type="text" ng-model="search.salary" placeholder="Enter Annual Salary">
                        </div>
                    </div>
                </div>
                </div>
                </div>
                <p ng-show="!btypeSearch" class="basic-search"><input ng-click="bsearches()" type="button" value="Basic Search"></p>
                <button class=" text-center searchjob-btn linkedin-btn col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-xs-offset-2 col-xs-8 col-xs-offset-2 btn btn-five big" type="submit">SEARCH JOB</button>
            </form>
        
    </section>
    <section class="search-section col-lg-12 col-md-12 col-sm-12 col-xs-12"  ng-show="SearchComplete">
        <div class="container">
            <div class="row clearfix">         
                    <div class="filter col-md-3 col-lg-3 col-sm-12 col-xs-12" style="width:19%" >

                <div class="filterHeading">

                    <span style="padding: 15px 15px">Filters</span>
                </div>
                    <div class="line2 container-fluid "></div>

                <div class="filter-elements" style="padding-left: 10px">
                    <p> <input type="checkbox" name="industry" ng-model="filter.industry" id="test1">
                        <label for="test1">Indusrty</label></p>
                      
                    <div ng-show="filter.industry">   
                        <div ng-repeat="n in slideIndustrylist track by $index" class="filterclass">




                                    

                                    <div class="form-check" style="padding-left: 0px;">
                                        <label>     
                                            <input type="checkbox" ng-model="filters.industry[n]"  ng-checked="n==searcSselected.industry"  checked> {{ n }} <span class="label-text1" style="font-size: 20px;">  </span> 
                                    
                                          
                                        </label>
                                    </div>



                        </div>    
                    </div>
                   
                    <p> <input type="checkbox" name="functionalarea"  ng-model="filter.functionalarea" id="test2">
                    <label for="test2">Function</label></p>
                    <div ng-show="filter.functionalarea">      
                     <div ng-repeat="n in slideFunctionlist track by $index" class="filterclass" >
                        <div class="form-check" style="padding-left: 0px;">
                            <label> 
                                    <input type="checkbox" ng-model="filters.functionalarea[n]" ng-checked="n==searcSselected.functionalArea"  checked> {{ n }} <span class="label-text1" style="font-size: 20px;">  </span> 
                                </label>
                            </div>
                          </div>    
                    </div>
                   
  
                     <p> <input type="checkbox" name="company"  ng-model="filter.company" id="test5">
                        <label for="test5">Company</label></p>
                    <div ng-show="filter.company">       
                         <div ng-repeat="n in slideCompanylist track by $index" class="filterclass">
                            <div class="form-check" style="padding-left: 0px;">
                                <label> 
                                    <input type="checkbox" ng-model="filters.company[n]" checked>{{ n }}<span class="label-text1" style="font-size: 20px;">  </span>
                                </label>
                            </div>
                        </div> 
                    </div>

                    <p> <input type="checkbox" name="experience"  ng-model="filter.experience"   id="test3">
                        <label for="test3">Work Experience (in Years)</label></p>
                    <div ng-show="filter.experience">
                     <div ng-repeat="n in slideWorkexperience track by $index" class="filterclass">
                        <div class="form-check">
                            <label> 
                                    <input type="checkbox" ng-model="filters.experience[n]" ng-checked="n==searcSselected.experience" checked>{{ n }} <span class="label-text1" style="font-size: 20px;">  </span> 
                                </label>
                            </div>
                        </div>
                    </div>

                    <p> <input type="checkbox" name="quantitative"  ng-model="filter.quantitative" id="test7">
                        <label for="test7">Quantitative</label></p>
                    <div ng-show="filter.quantitative">
                      <div ng-repeat="n in slideQuantitative track by $index" class="filterclass">
                        <div class="form-check">
                            <label> 
                                    <input type="checkbox" ng-model="filters.quantitative[n]" checked>{{ n }} <span class="label-text1" style="font-size: 20px;">  </span>
                                </label>
                            </div>
                        </div>
                    </div>
                      <p> 
                        <div class="form-check" style="padding-left: 0px;">
                            <label>
                        <input type="checkbox" name="date" ng-model="filter.datesort" id="test1" checked>
                        <span class="label-text1"  style="font-size: 20px;"  for="test1"><small style="font-weight: 700;font-size: 14px;">Sort</small></span>
                    </label>
                </div>
                    </p>
                      
                    <div ng-show="filter.industry">   
                        <div ng-repeat="n in slideDatesort track by $index" class="filterclass">
                            <div class="form-check">
                                <label>
                                    <input type="checkbox"  ng-model="filters.datesort[n]" ng-click="checkDatesort($event, n)" ng-checked="n==relevance"  ng-attr-id="{{ 'sort_date_' + $index }}"  checked> {{ n }}    <span class="label-text1" style="font-size: 20px;">  </span> 
                                </label>
                            </div>
                        </div>                                                                                                                                                                        
                    </div>

                    <button class=" text-center filtersearchjob-btn1 " ng-click="applyFilter(filters)">Apply Filter</button>
                    <div class="color-li">
                    <ul>
                        <li><a ng-click="var1='VIEWED PROFILE'" ng-class="{'active': var1 == 'VIEWED PROFILE'}" ui-sref="home.search.viewedProfile">Who Viewed My Profile</a><span>{{countForJobs.profileVisitedCount}}</span></li>
                        <li><a ng-click="var1='APPLIED JOBS'" ng-class="{'active': var1 == 'APPLIED JOBS'}" ui-sref="home.search.appliedJobs">Applied Jobs</a><span>{{countForJobs.appliedJobCount}}</span></li>
                        <li><a ng-click="var1='FAVOURITE JOBS'" ng-class="{'active': var1 == 'FAVOURITE JOBS'}" ui-sref="home.search.favouritejobs">Favourite Jobs</a><span>{{countForJobs.favouritejobs}}</span></li>
                    </ul>
                </div>
                </div>
            </div>            
            
                <div class="information-section-middle">
                    <div ui-view=""></div>
                </div>
                <div class="newsletter-section-right text-center">
                    <div class="newsletter" ng-show="candidateSearch">
                        <img src="images/email.png" alt="email" />
                        <p><b> Create a Job Alert </b> <br>( based on this search ) </p>
                        <form id="newsLetterForm" class="clearfix">
                            <input type="email" placeholder="Enter Your Email" id="newsLetterId">
                            <div class="text-center"><button style="float: none;"  ng-click="submit_jobalerts()" type="submit" class="col-lg-12 col-md-3 col-sm-3 col-xs-12 sbmt-btn">SUBMIT</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<script>
   
var options = {
  url: function(phrase) {
  return  api_url + "/api/candidate/JobAutocomplete?keyword=" + phrase ;
  },
 // listLocation:"data",
  categories: [
        {   
            listLocation: function(data) {
                return data["data"]["jobTitle"];
            },
            header: "-- Title --"
        }, 
        {   
            listLocation: function(data) {
                return data["data"]["keyskill"];
            },
            header: "-- Keyskill --"
        }
    ],
  list: {
		match: {
			enabled: true
		}
	}
};

$("#NewKeywordSearch").easyAutocomplete(options);


var options = {
  url: function(phrase) {
  return  api_url + "/api/candidate/LocationAutocomplete?keyword=" + phrase ;
  },
  listLocation:"data",
  getValue: "location",
  list: {
        onSelectItemEvent: function() {
			var index = $("#LocationSearch").getSelectedItemData().zipCode;
			$("#zipcode").val(index).trigger("change");
		},
		match: {
			enabled: true
		}
	}
};

$("#LocationSearch").easyAutocomplete(options);


</script>
