
<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-4467381-14']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();



    $(".container-fluid").not('#mynavbutton').click(function (e){
        console.log("in");

        if ($('.menuMobile').is(':hidden')) {}
        else
        {
            console.log("visible");
            $('.menuMobile').slideUp(function(event){
                //console.log("in");
                $(".navbar").css("width","100px");
            });

        }
    });
</script>


<div ng-controller=HomeController class="container-fluid fullPage pad-none" style="text-align: center">
    <div id="backtop" class="light noShow" scroll-speed="600" button-theme="light" button-text="Take me back">
        <button ng-click="goUp()" class="btn ng-binding" style="background: transparent;">
            <img src="app/img/top-icon.png"/>
        </button>
    </div>

        <nav style="position: fixed;right: 10px;top: 10px;cursor: pointer;z-index: 100000; width: 100px" class="navbar navbar-inverse navbar-collapse headerParent">
            <div class='container-fluid myNavigation '>
                <div class="navbar-header navMobileStyle">
                    <button id="mynavbutton"  class="navbar-toggle toggleButton" >
                        <img src="app/img/navigation.png" alt=Nav class=imageStyling/>
                    </button>
                </div>
                <div class=menuMobile style="display: none">
                    <div id=myNavbar>
                        <ul style="background: rgba(0,0,0,0.75);margin-right: 0px;" class="nav navbar-nav navSectionStyle">
                            <li id=li1 class=active><a href="#section1" ng-click="scroll('section1')" class=liHeight>Home</a></li>
                            <li id=li2><a href="#section3" ng-click="scroll('section3')" class=liHeight>About</a></li>
                            <li id=li3><a href="#section4" ng-click="scroll('section4')" class=liHeight>Features</a></li>
                            <li id=li4><a href="#section5" ng-click="scroll('section5')" class=liHeight>How it works</a></li>
                            <li id=li5><a href="#section6" ng-click="scroll('section6')" class=liHeight>Testimonials</a></li>
                            <li id=li6><a href="#section7" ng-click="scroll('section7')" class=liHeight>Our Team</a></li>
                            <li id=li7><a href="#section8" ng-click="scroll('section8')" class=liHeight>ContactUs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>


    <div id=section1 class=container-fluid>
        <div class='row bannerImage' style="min-height: 500px">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class=position>
                    <nav class="navbar navbar-inverse navbar-collapse headerParent">
                        <div class='container-fluid myNavigation '>
                            <div class="navbar-header navMobileStyle">
                                <!--<button id="mynavbutton"  class="navbar-toggle toggleButton" >-->
                                    <!--<img src="app/img/navigation.png" alt=Nav class=imageStyling/>-->
                                <!--</button>-->
                                <a class="navImageStyle navbar-brand1">
                                    <img src="app/img/logo.png" alt=Logo class=imageStyling/>
                                </a>
                            </div>
                            <!--<div class=menuMobile style="display: none">-->
                                <!--<div id=myNavbar>-->
                                    <!--<ul style="background: rgba(0,0,0,0.75);margin-right: 0px;" class="nav navbar-nav navSectionStyle">-->
                                        <!--<li id=li1 class=active><a href="#section1" ng-click="scroll('section1')" class=liHeight>Home</a></li>-->
                                        <!--<li id=li2><a href="#section3" ng-click="scroll('section3')" class=liHeight>About</a></li>-->
                                        <!--<li id=li3><a href="#section4" ng-click="scroll('section4')" class=liHeight>Features</a></li>-->
                                        <!--<li id=li4><a href="#section5" ng-click="scroll('section5')" class=liHeight>How it works</a></li>-->
                                        <!--<li id=li5><a href="#section6" ng-click="scroll('section6')" class=liHeight>Testimonials</a></li>-->
                                        <!--<li id=li6><a href="#section7" ng-click="scroll('section7')" class=liHeight>Our Team</a></li>-->
                                        <!--<li id=li7><a href="#section8" ng-click="scroll('section8')" class=liHeight>ContactUs</a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </nav>

                </div>
            </div>
            <div class="container " style="margin-top: 150px">
                <p class="section1MainContent">{{Landingdescription}}
                </p>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-none blurOutside">
                    <div class=" blurBack col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-none" style="position: absolute;top: 0px;left: 0px;border-radius: 5px;background: rgba(0,0,0,0.40);">
                        <form ng-submit="searchForm.$valid && search(searchData)" name="searchForm" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad form"  style="margin-top: 30px;"   novalidate>

                            <div style="min-height: 70px;" class="form-elements col-lg-offset-1 col-lg-8 col-md-offset-0 col-md-9 col-sm-offset-0 col-sm-7  col-xs-12 pad-left">
                                <input style="background-color: #fff;color: #161210;;opacity: 1;" placeholder="Job title, skills, Company, Keyword" type="text" minlength="2" ng-model="searchData.search" name="searchInput"  required />
                                <div ng-show="searchForm.$submitted || searchForm.searchInput.$touched">
                                    <div class="error-message" ng-show="searchForm.searchInput.$invalid"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Please Enter at least 2 Characters.</div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-5 col-xs-6 col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-offset-3">
                                <button style="min-width: 110px;width: 100%;padding: 8px;border-radius: 3px;margin-bottom: 10px" class="myButton">Search</button>
                            </div>
                        </form>
                        <div class=" trendingSearch col-lg-offset-1 col-lg-10 col-md-offset-0 col-md-12 col-sm-offset-0 col-sm-12  col-xs-12 ">

                            <h4 style="border-top: 1px solid rgba(254,254,254,0.4);">Trending Searches</h4>
                            <p>Java Programmer, Program Management, UI/UX Lead, QA Jobs, Pharmacist…</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-none">
                    <div class="progress-wrapper text-center">
                        <div style="position: relative; height: 170px;width: 170px;float: right;margin-right: 10%;">
                            <div class="progress1 ng-cloak" ng-style="getStyle()"><p><img src="app/img/job.png"></p><p style="font-weight: 900;font-size: 30px;">{{ JobsCount }}</p><p>Jobs Available</p></div>
                                <round-progress
                                        max=JobsCount
                                        current=JobsCount
                                        color="#02a5db"
                                        bgcolor="rgba(200,200,200,0.4)"
                                        radius="80"
                                        stroke="8"
                                        semi="false"
                                        rounded="false"
                                        clockwise="true"
                                        responsive="false"
                                        duration="800"
                                        animation="easeInOutQuart"
                                        animation-delay="0"
                                        on-render="showPreciseCurrent">
                                </round-progress>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-none">
                    <div class="progress-wrapper text-center">
                        <div style="position: relative; height: 170px;width: 170px;float: left;margin-left: 10%;">
                            <div class="progress1 ng-cloak" ng-style="getStyle()"><p> <img src="app/img/candidate.png"></p><p style="font-weight: 900;font-size: 30px;">{{ candidateCount }}</p><p>Candidates Available</p></div>
                                <round-progress
                                        max=candidateCount
                                        current=candidateCount
                                        color="#02a5db"
                                        bgcolor="rgba(200,200,200,0.4)"
                                        radius="80"
                                        stroke="8"
                                        semi="false"
                                        rounded="false"
                                        clockwise="true"
                                        responsive="false"
                                        duration="800"
                                        animation="easeInOutQuart"
                                        animation-delay="0"
                                        on-render="showPreciseCurrent">
                                </round-progress>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1 pad-none links">
                    <div class="col-lg-offset-0 col-lg-4 col-md-offset-0 col-md-4 col-sm-offset-0 col-sm-4  col-xs-6 col-xs-offset-4 pad-none">
                       <a id="CandidateLink">
                        <span class="linksSpan">
                            <img style="position: absolute;top: 8px;left: -55px;cursor: pointer" src="app/img/candidate1.png">
                            <small style="font-size: 14px">Register/Log In &nbsp&nbsp&nbsp</small>
                            </br>
                            <small style="font-size: 24px">Candidate</small>
                        </span></a>

                    </div>
                    <div class="col-lg-offset-0 col-lg-4 col-md-offset-0 col-md-4 col-sm-offset-0 col-sm-4  col-xs-6 col-xs-offset-4 pad-none">
                        <a id="RecruiterLink">
                         <span class="linksSpan">
                            <img style="position: absolute;top: 8px;left: -55px;cursor: pointer" src="app/img/recruiter1.png">
                            <small style="font-size: 14px">Register/Log In &nbsp</small>
                             </br>
                             <small style="font-size: 24px">Recruiter</small>
                        </span></a>

                    </div>
                    <div class="col-lg-offset-0 col-lg-4 col-md-offset-0 col-md-4 col-sm-offset-0 col-sm-4  col-xs-6 col-xs-offset-4 pad-none">

                        <a id="InterviewerLink">
                         <span class="linksSpan">
                            <img style="position: absolute;top: 8px;left: -55px;cursor: pointer" src="app/img/interviewer1.png">
                            <small style="font-size: 14px">Register/Log In &nbsp &nbsp &nbsp</small>
                             </br>
                             <small style="font-size: 24px">Interviewer</small>
                        </span></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id=section2 style="border-bottom: solid 1px rgba(151,151,151,0.5);" class="container-fluid " >
        <div class="row marginAbout wow bounceInLeft displaybl animated" data-wow-duration=3s data-wow-delay=0s style="padding: 35px 10px;" >
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-none" >
                 <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 companiesOnCviq pad-none">
                     <p>Companies on CVIQ</p>
                 </div>
                 <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12" style="padding: 0 70px;position: relative">
                     <img style="cursor:pointer;position: absolute;left:15px;background-color: rgba(0,0,0,0.4);top: 40%;" class="myPrevious"  src="app/img/right.png">
                     <img style="cursor: pointer;position: absolute;right: 15px;background-color: rgba(0,0,0,0.4);top: 40%;" class="myNext" src="app/img/left.png">


                     <div id="owl-example" class="owl-carousel">
                         <div ng-repeat="data in companyArray">
                             <img  ng-src="{{data.logoURL}}" style="width: 100px;height: 100px;" class="img-responsive">
                         </div>
                     </div>

                     <!--<p ng-repeat="data in list track by $index">{{$index}}</p>-->
        <!--&lt;!&ndash;             <div id="myCarousel2" class="carousel slide" data-ride="carousel">-->


                         <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
                         <!--<div class="carousel-inner" role="listbox">-->
                             <!--<div class="item active">-->
                                 <!--<div class="col-lg-6 col-md-6 col-xs-10 col-sm-10 col-lg-offset-3 col-md-offset-1 col-sm-offset-1 col-xs-offset-1"-->
                                      <!--style="text-align: center;">-->
                                     <!--<span class="faqData">ORIGINAL .</span>-->
                                 <!--</div>-->
                             <!--</div>-->

                             <!--<div class="item">-->
                                 <!--<div class="col-lg-6 col-md-6 col-xs-10 col-sm-10 col-lg-offset-3 col-md-offset-1 col-sm-offset-1 col-xs-offset-1"-->
                                      <!--style="text-align: center;">-->
                                     <!--<span class="faqData">Members. </span>-->
                                 <!--</div>-->
                             <!--</div>-->
                             <!--<div class="item">-->
                                 <!--<div class="col-lg-6 col-md-6 col-xs-10 col-sm-10 col-lg-offset-3 col-md-offset-1 col-sm-offset-1 col-xs-offset-1"-->
                                      <!--style="text-align: center;">-->
                                     <!--<span class="faqData">Once.</span>-->
                                 <!--</div>-->
                             <!--</div>-->
                             <!--<div class="item">-->
                                 <!--<div class="col-lg-6 col-md-6 col-xs-10 col-sm-10 col-lg-offset-3 col-md-offset-1 col-sm-offset-1 col-xs-offset-1"-->
                                      <!--style="text-align: center;">-->
                                     <!--<span class="faqData">Yes.</span>-->
                                 <!--</div>-->
                             <!--</div>-->
                         <!--</div>-->
                         <!--<a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">-->
                             <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
                             <!--<span class="sr-only">Previous</span>-->
                         <!--</a>-->
                         <!--<a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">-->
                             <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                             <!--<span class="sr-only">Next</span>-->
                         <!--</a>-->
                     <!--</div>&ndash;&gt;-->

                     <!--&lt;!&ndash;ng-class="{active:!$index}"&ndash;&gt;-->

                     <!--<div class="carousel slide multi-item-carousel" id="theCarousel" >-->
                         <!--<div class="carousel-inner">-->
                             <!--<div class="item" ng-repeat="carouselImg in carouselImages track by $index" ng-class="{active: ($index === 0)}">-->
                                 <!--<div class="custom-width">-->
                                     <!--<a href="#1">{{carouselImg.index}}<img ng-src="{{carouselImg.src}}" style="" class="img-responsive"></a></div>-->
                             <!--</div>-->
                         <!--</div>-->
                         <!--<a class="left carousel-control" href="#theCarousel" data-slide="prev"><img class="leftImg" src="app/img/right.png"></a>-->
                         <!--<a class="right carousel-control" href="#theCarousel" data-slide="next"><img class="rightImg" src="app/img/left.png"></a>-->
                     <!--</div>-->

                 <!--</div>-->
            </div>
        </div>
    </div>
        </div>
    <div id=section3 class="container-fluid" >
        <div class="container">
            <div class="aboutHeading col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-none">
                <p>About CVIQ</p>
            </div>
            <div class="aboutContent col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-none">
                <p>{{about.aboutCviq}}</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-none">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12  aboutContents">
                   <img src="app/img/about1.png">
                    <h4>{{about.text1}}</h4>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12  aboutContents">
                    <img src="app/img/about2.png">
                    <h4>{{about.text2}}</h4>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12  aboutContents">
                    <img src="app/img/about3.png">
                    <h4>{{about.text3}}</h4>

                </div>
            </div>

        </div>
    </div>
    <div id=section4 class="container-fluid" >
        <div class="container">
            <div class="aboutHeading col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-none">
                <p class="text-left" style="text-align: left">In hac habitasse platea dict.</p>
            </div>
            <div class="appstore" style="float: right">
               <img  style="width: 150px;cursor: pointer;" src="app/img/appleStore.png">
               <img style="width: 150px;cursor: pointer;" src="app/img/googleStore.png">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-5 col-xs-6 recruiterFeatureButtonDiv" style="padding: 0px">
                <p class="mybtn recruiterFeatureButtonPseudo" id="recruiterFeatureButton" ng-click="toggleButton(1)">Recruiter App Features</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-5 col-xs-6 candidateFeatureButtonDiv" style="padding: 0px">
                <p class="mybtn candidateFeatureButtonPseudo" id="candidateFeatureButton" ng-click="toggleButton(2)">Candidate App Features</p>
            </div>
            <div ng-show="recruiterApp" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-none features">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 featuresPad" >
                    <div class="col-lg-12 col-md-12 col-sm-4 col-xs-8 col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0  featureContents">
                        <img src="app/img/feature1.png">
                        <h4>{{recruiterFeatures.text1}}</h4>
                        <p>{{recruiterFeatures.text1Description}}</p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-4 col-xs-8 col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0  featureContents">
                        <img src="app/img/feature2.png">
                        <h4>{{recruiterFeatures.text2}}</h4>
                        <p>{{recruiterFeatures.text2Description}}</p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-4 col-xs-8 col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0  featureContents">
                        <img src="app/img/feature3.png">
                        <h4>{{recruiterFeatures.text3}}</h4>
                        <p>{{recruiterFeatures.text3Description}}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pad-none">
                    <img class="mobileImg" src="app/img/mobile.png">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 featuresPad " >
                    <div class="col-lg-12 col-md-12 col-sm-4 col-xs-8 col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0  featureContents">
                        <img src="app/img/feature4.png">
                        <h4>{{recruiterFeatures.text4}}</h4>
                        <p>{{recruiterFeatures.text4Description}}</p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-4 col-xs-8  col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0  featureContents">
                        <img src="app/img/feature5.png">
                        <h4>{{recruiterFeatures.text5}}</h4>
                        <p>{{recruiterFeatures.text5Description}}</p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-4 col-xs-8   col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0  featureContents">
                        <img src="app/img/feature6.png">
                        <h4>{{recruiterFeatures.text6}}</h4>
                        <p>{{recruiterFeatures.text6Description}}</p>
                    </div>
                </div>
            </div>
            <div ng-show="candidateApp" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-none features">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 featuresPad" >
                    <div class="col-lg-12 col-md-12 col-sm-4  col-xs-8  col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0  featureContents">
                        <img src="app/img/feature1.png">
                        <h4>{{candidateFeatures.text1}}</h4>
                        <p>{{candidateFeatures.text1Description}}</p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-4  col-xs-8  col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0  featureContents">
                        <img src="app/img/feature2.png">
                        <h4>{{candidateFeatures.text2}}</h4>
                        <p>{{candidateFeatures.text2Description}}</p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-4 col-xs-8   col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0  featureContents">
                        <img src="app/img/feature3.png">
                        <h4>{{candidateFeatures.text3}}</h4>
                        <p>{{candidateFeatures.text3Description}}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pad-none">
                    <img class="mobileImg" src="app/img/mobile.png">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 featuresPad" >
                    <div class="col-lg-12 col-md-12 col-sm-4  col-xs-8  col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0  featureContents">
                        <img src="app/img/feature4.png">
                        <h4>{{candidateFeatures.text4}}</h4>
                        <p>{{candidateFeatures.text4Description}}</p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-4 col-xs-8   col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0  featureContents">
                        <img src="app/img/feature5.png">
                        <h4>{{candidateFeatures.text5}}</h4>
                        <p>{{candidateFeatures.text5Description}}</p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-4  col-xs-8  col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0  featureContents">
                        <img src="app/img/feature6.png">
                        <h4>{{candidateFeatures.text6}}</h4>
                        <p>{{candidateFeatures.text6Description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id=section5 class="container-fluid"  >
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-bottom: 15px">
                <div class="howItWorks col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-none">
                    <p>How it Works?</p>
                </div>
                <div class="howItWorksContent col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-none">
                    <p>{{worksContent}}</p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-none">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  howItWorksContents">
                        <div>
                            <img src="app/img/works1.png">
                            <p>Establishment</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  howItWorksContents">
                        <div>
                            <img src="app/img/works2.png">
                            <p>Growth</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  howItWorksContents">
                        <div>
                            <img src="app/img/works3.png">
                            <p>Expansion</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pad-none" style="position: relative">
                <!--<img src="app/img/videoBackground.png" style="width: 100%">-->
                <video id="myVideo" style="margin-top: 75px;" poster="app/img/videoBackground.png" width="100%" controls ng-src="{{workVideoURL}}" type="video/*" loop preload="metadata">

                    Your browser does not support the video tag.
                </video>
                <!--<img src="app/img/facebook.png" ng-click="playVid" style="position: absolute;top: 50%;left: 45%;cursor: pointer">-->
            </div>

        </div>
    </div>
    <div id=section6 class="container-fluid reviewsBackgroundImg"  >
        <div class="container " style="position: relative;padding: 30px 0px">
            <carousel3d
                    ng-model="slides2"
                    options="options2"
                    on-selected-click="selectedClick(index)"
                    on-slide-change="slideChanged(index)"
                    on-last-slide="lastSlide(index)"
                    on-before-change="beforeChange(index)">

                <carousel3d-slide ng-repeat="slide in slides2 track by $index" ng-style="{'background': slide.bg}">
                    <div style="padding: 20px; color: #fff">

                        <div style="align-items: center;display: flex;min-height: 400px">
                            <div style="width: 100%">
                                <p ng-bind-html="slide.html"></p>
                                <div style="align-items: center;display: flex;width: 100%;">
                                    <img style="max-width: 150px;max-height: 150px;margin: 0 auto" class="myImage" ng-src="{{slide.pic}}">
                                </div>
                                <p class="mySlideCaption" ng-bind="slide.caption"></p>
                                <p  class="mySlideCaptionName text-capitalize" ng-bind="slide.captionName"></p>
                            </div>
                        </div>


                    </div>
                </carousel3d-slide>
            </carousel3d>
        </div>
    </div>
    <div id=section7 class="container-fluid"  >
        <div  ng-class="{packages1: packageClass == 'packages1',packages2: packageClass == 'packages2',packages3: packageClass == 'packages3',packages4: packageClass == 'packages4'}" class=" container" style="min-height: 500px">
            <div class="aboutHeading col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-none">
                <p>Meet Our Team</p>
            </div>
            <div class="aboutContent col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-none">
                <p>{{teamDescription}}</p>
            </div>
            <ul >
                <li ng-repeat="data in Memberlist">
                    <div>
                        <div>
                            <div style="width: 100px;height: 100px;display: inline-flex" >
                                <img ng-src="{{data.picURL}}" style="max-width: 100px" >
                            </div>

                            <h4  class="memberContent1 text-capitalize">{{data.name}}</h4>
                            <p class="memberContent2  text-capitalize">{{data.designation}}</p>
                            <p class="memberContent3" >{{data.description}}</p>
                            <a ng-href="{{data.linkedin}}"> <img style="cursor: pointer" href="data.linkedin" src="app/img/linkedinMember.png"/> </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id=section8 class="container-fluid contactUsBackgroundImg"  >
        <div class="container " style="min-height: 500px">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-none" style="padding: 5% 0px">
                <div class="col-lg-6 col-md-7 col-sm-8 col-xs-12 " ng-show="!success">
                    <form ng-submit="contactusForm.$valid && contactUs(data)" name="contactusForm" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad form"  style="margin-top: 30px;"   novalidate>

                        <div class="form-elements col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-left">
                            <label>First Name</label>
                            <input class="text-capitalize" type="text" minlength="2" ng-keypress='FirsText($event)' ng-model="data.fname" name="fname"  required />
                            <div ng-show="contactusForm.$submitted || contactusForm.fname.$touched">
                                <div class="error-message" ng-show="contactusForm.fname.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Please Enter First Name.</div>
                                <div class="error-message" ng-show="!contactusForm.fname.$error.required && contactusForm.fname.$invalid"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Please Enter atleast 2 Characters.</div>
                            </div>
                        </div>

                        <div class="form-elements col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-left">
                            <label>Last Name</label>
                            <input class="text-capitalize" type="text" minlength="2" ng-keypress='FirsText($event)' ng-model="data.lname" name="lname" required />
                            <div ng-show="contactusForm.$submitted || contactusForm.lname.$touched">
                                <div class="error-message" ng-show="contactusForm.lname.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Please Enter Last Name.</div>
                                <div class="error-message" ng-show="!contactusForm.lname.$error.required && contactusForm.lname.$invalid"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Please Enter atleast 2 Characters.</div>
                            </div>
                        </div>
                        <div class="form-elements col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-left">
                            <label>Email</label>
                            <input type="text" ng-model="data.email" name="email" ng-pattern="myregex" required  style="text-transform: none"/>
                            <div ng-show="contactusForm.$submitted || contactusForm.email.$touched">
                                <div class="error-message" ng-show="contactusForm.email.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Please Enter Email.</div>
                                <div class="error-message" ng-show="contactusForm.email.$error.pattern"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Please Enter Valid Email.</div>
                            </div>
                        </div>
                        <div class="form-elements col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-left">
                            <label>Phone Number </label>
                            <input type="text" maxlength="10" minlength="10" ng-keypress='isNumberKey($event)' ng-model="data.phoneNo" name="phoneNo" ng-pattern="phoneRegex"  required /> <!--"-->
                            <div ng-show="contactusForm.$submitted || contactusForm.phoneNo.$touched">
                                <div class="error-message" ng-show="contactusForm.phoneNo.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Please Enter Phone Number.</div>
                                <div class="error-message" ng-show="contactusForm.phoneNo.$error.pattern"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Please Enter Valid Phone Number.</div>
                            </div>
                        </div>
                        <div class="form-elements col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-left ">
                            <label>Message</label>
                            <textarea type="text" ng-model="data.message" name="message" required ></textarea>
                            <div ng-show="contactusForm.$submitted || contactusForm.message.$touched">
                                <div class="error-message" ng-show="contactusForm.message.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Please Enter Message.</div>
                                <div class="error-message" ng-show="!contactusForm.message.$error.required && contactusForm.message.$invalid"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Message must be atleast 3 Characters Long.</div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
                            <button style="min-width: 110px;margin-top: 15px;width: 100%" type="submit" class="myButton">SUBMIT</button>
                        </div>
                    </form>

                </div>
                <div class="col-lg-6 col-md-7 col-sm-8 col-xs-12 " ng-show="success">

                    <h2 style="color: #fff;margin-top: 10%"> Thank you.</h2>
                    <h3 style="color: #fff"> Our Team will contact you shortly.</h3>
                </div>

                <div class="col-lg-6 col-md-5 col-sm-4 col-xs-12 contact-right" >
                    <h3>CVIQ</h3>
                    <p><span ><img src="app/img/envelop.png"/>&nbsp  {{contact.email}}</span></p>
                    <p><span style="width: 200px"><img src="app/img/phone.png"/>&nbsp {{contact.countryCode}}-{{contact.phoneNumber}}</span></p>

                    <ul><li><a ng-href="{{linkedInLink}}"> <img  src="app/img/linkedin.png"/></a> </li></ul>
                </div>

            </div>
        </div>
    </div>
</div>
