<!--<section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 banner">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="main-section2 cal-sec payment-form col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">-->
                <!--<h1>SET AVAILABILITY</h1>-->
                <!--<div class="calender-section">-->
                    <!--<p>{{dt | date:'fullDate' }}</p>-->
                    <!--<uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></uib-datepicker>-->
                <!--</div>-->
                <!--<div class="time-box">-->
                    <!--<ul>-->
                        <!--<li class="text-center">-->
                            <!--<div class="avail unavail">-->
                                <!--<h6>12:00<br />AM</h6>-->
                                <!--<p>UNAVAILABLE</p>-->
                            <!--</div>-->
                            <!--<input type="checkbox" name="terms" id="terms1" value="terms" required>-->
                            <!--<label for="terms1" class="conditions checkbox-label"></label>-->
                        <!--</li>-->
                        <!--<li class="text-center">-->
                            <!--<div class="avail unavail">-->
                                <!--<h6>01:00<br />AM</h6>-->
                                <!--<p>UNAVAILABLE</p>-->
                            <!--</div>-->
                            <!--<input type="checkbox" name="terms" id="terms2" value="terms" required>-->
                            <!--<label for="terms2" class="conditions checkbox-label"></label>-->
                        <!--</li>-->
                        <!--<li class="text-center">-->
                            <!--<div class="avail unavail">-->
                                <!--<h6>02:00<br />AM</h6>-->
                                <!--<p>UNAVAILABLE</p>-->
                            <!--</div>-->
                            <!--<input type="checkbox" name="terms" id="terms3" value="terms" required>-->
                            <!--<label for="terms3" class="conditions checkbox-label"></label>-->
                        <!--</li>-->
                        <!--<li class="text-center">-->
                            <!--<div class="avail unavail">-->
                                <!--<h6>03:00<br />AM</h6>-->
                                <!--<p>UNAVAILABLE</p>-->
                            <!--</div>-->
                            <!--<input type="checkbox" name="terms" id="terms4" value="terms" required>-->
                            <!--<label for="terms4" class="conditions checkbox-label"></label>-->
                        <!--</li>-->
                        <!--<li class="text-center">-->
                            <!--<div class="avail unavail">-->
                                <!--<h6>04:00<br />AM</h6>-->
                                <!--<p>UNAVAILABLE</p>-->
                            <!--</div>-->
                            <!--<input type="checkbox" name="terms" id="terms6" value="terms" required>-->
                            <!--<label for="terms6" class="conditions checkbox-label"></label>-->
                        <!--</li>-->

                        <!--<li class="text-center">-->
                            <!--<div class="avail unavail">-->
                                <!--<h6>05:00<br />AM</h6>-->
                                <!--<p>UNAVAILABLE</p>-->
                            <!--</div>-->
                            <!--<input type="checkbox" name="terms" id="terms7" value="terms" required>-->
                            <!--<label for="terms7" class="conditions checkbox-label"></label>-->
                        <!--</li>-->
                        <!--<li class="text-center">-->
                        <!--<div class="avail unavail">-->
                            <!--<h6>06:00<br />AM</h6>-->
                            <!--<p>UNAVAILABLE</p>-->
                        <!--</div>-->
                            <!--<input type="checkbox" name="terms" id="terms8" value="terms" required>-->
                            <!--<label for="terms8" class="conditions checkbox-label"></label>-->
                    <!--</li>-->
                        <!--<li class="text-center">-->
                        <!--<div class="avail unavail">-->
                            <!--<h6>07:00<br />AM</h6>-->
                            <!--<p>UNAVAILABLE</p>-->
                        <!--</div>-->
                            <!--<input type="checkbox" name="terms" id="terms9" value="terms" required>-->
                            <!--<label for="terms9" class="conditions checkbox-label"></label>-->
                    <!--</li>-->
                        <!--<li class="text-center">-->
                        <!--<div class="avail unavail">-->
                            <!--<h6>08:00<br />AM</h6>-->
                            <!--<p>UNAVAILABLE</p>-->
                        <!--</div>-->
                            <!--<input type="checkbox" name="terms" id="terms10" value="terms" required>-->
                            <!--<label for="terms10" class="conditions checkbox-label"></label>-->
                    <!--</li>-->
                        <!--<li class="text-center">-->
                        <!--<div class="avail unavail">-->
                            <!--<h6>09:00<br />AM</h6>-->
                            <!--<p>UNAVAILABLE</p>-->
                        <!--</div>-->
                            <!--<input type="checkbox" name="terms" id="terms11" value="terms" required>-->
                            <!--<label for="terms11" class="conditions checkbox-label"></label>-->
                    <!--</li>-->
                        <!--<li class="text-center">-->
                            <!--<div class="avail unavail">-->
                                <!--<h6>10:00<br />AM</h6>-->
                                <!--<p>UNAVAILABLE</p>-->
                            <!--</div>-->
                            <!--<input type="checkbox" name="terms" id="terms12" value="terms" required>-->
                            <!--<label for="terms12" class="conditions checkbox-label"></label>-->
                        <!--</li>-->
                        <!--<li class="text-center">-->
                            <!--<div class="avail unavail">-->
                                <!--<h6>11:00<br />AM</h6>-->
                                <!--<p>UNAVAILABLE</p>-->
                            <!--</div>-->
                            <!--<input type="checkbox" name="terms" id="terms13" value="terms" required>-->
                            <!--<label for="terms13" class="conditions checkbox-label"></label>-->
                        <!--</li>-->
                        <!--<li class="text-center">-->
                            <!--<div class="avail unavail">-->
                                <!--<h6>12:00<br />PM</h6>-->
                                <!--<p>UNAVAILABLE</p>-->
                            <!--</div>-->
                            <!--<input type="checkbox" name="terms" id="terms14" value="terms" required>-->
                            <!--<label for="terms14" class="conditions checkbox-label"></label>-->
                        <!--</li>-->
                        <!--<li class="text-center">-->
                            <!--<div class="avail unavail">-->
                                <!--<h6>01:00<br />PM</h6>-->
                                <!--<p>UNAVAILABLE</p>-->
                            <!--</div>-->
                            <!--<input type="checkbox" name="terms" id="terms15" value="terms" required>-->
                            <!--<label for="terms15" class="conditions checkbox-label"></label>-->
                        <!--</li>-->
                        <!--<li class="text-center">-->
                            <!--<div class="avail unavail">-->
                                <!--<h6>02:00<br />PM</h6>-->
                                <!--<p>UNAVAILABLE</p>-->
                            <!--</div>-->
                            <!--<input type="checkbox" name="terms" id="terms16" value="terms" required>-->
                            <!--<label for="terms16" class="conditions checkbox-label"></label>-->
                        <!--</li>-->
                        <!--<li class="text-center">-->
                            <!--<div class="avail unavail">-->
                                <!--<h6>03:00<br />PM</h6>-->
                                <!--<p>UNAVAILABLE</p>-->
                            <!--</div>-->
                            <!--<input type="checkbox" name="terms" id="terms17" value="terms" required>-->
                            <!--<label for="terms17" class="conditions checkbox-label"></label>-->
                        <!--</li>-->
                        <!--<li class="text-center">-->
                            <!--<div class="avail unavail">-->
                                <!--<h6>04:00<br />PM</h6>-->
                                <!--<p>UNAVAILABLE</p>-->
                            <!--</div>-->
                            <!--<input type="checkbox" name="terms" id="terms18" value="terms" required>-->
                            <!--<label for="terms18" class="conditions checkbox-label"></label>-->
                        <!--</li>-->
                        <!--<li class="text-center">-->
                            <!--<div class="avail unavail">-->
                                <!--<h6>05:00<br />PM</h6>-->
                                <!--<p>UNAVAILABLE</p>-->
                            <!--</div>-->
                            <!--<input type="checkbox" name="terms" id="terms19" value="terms" required>-->
                            <!--<label for="terms19" class="conditions checkbox-label"></label>-->
                        <!--</li>-->
                        <!--<li class="text-center">-->
                            <!--<div class="avail unavail">-->
                                <!--<h6>06:00<br />PM</h6>-->
                                <!--<p>UNAVAILABLE</p>-->
                            <!--</div>-->
                            <!--<input type="checkbox" name="terms" id="terms20" value="terms" required>-->
                            <!--<label for="terms20" class="conditions checkbox-label"></label>-->
                        <!--</li>-->
                        <!--<li class="text-center">-->
                            <!--<div class="avail unavail">-->
                                <!--<h6>07:00<br />PM</h6>-->
                                <!--<p>UNAVAILABLE</p>-->
                            <!--</div>-->
                            <!--<input type="checkbox" name="terms" id="terms21" value="terms" required>-->
                            <!--<label for="terms21" class="conditions checkbox-label"></label>-->
                        <!--</li>-->
                        <!--<li class="text-center">-->
                            <!--<div class="avail unavail">-->
                                <!--<h6>08:00<br />PM</h6>-->
                                <!--<p>UNAVAILABLE</p>-->
                            <!--</div>-->
                            <!--<input type="checkbox" name="terms" id="terms22" value="terms" required>-->
                            <!--<label for="terms22" class="conditions checkbox-label"></label>-->
                        <!--</li>-->

                        <!--<li class="text-center">-->
                            <!--<div class="avail unavail">-->
                                <!--<h6>09:00<br />PM</h6>-->
                                <!--<p>UNAVAILABLE</p>-->
                            <!--</div>-->
                            <!--<input type="checkbox" name="terms" id="terms23" value="terms" required>-->
                            <!--<label for="terms23" class="conditions checkbox-label"></label>-->
                        <!--</li>-->
                        <!--<li class="text-center">-->
                            <!--<div class="avail unavail">-->
                                <!--<h6>10:00<br />PM</h6>-->
                                <!--<p>UNAVAILABLE</p>-->
                            <!--</div>-->
                            <!--<input type="checkbox" name="terms" id="terms24" value="terms" required>-->
                            <!--<label for="terms24" class="conditions checkbox-label"></label>-->
                        <!--</li>-->
                        <!--<li class="text-center">-->
                            <!--<div class="avail unavail">-->
                                <!--<h6>11:00<br />PM</h6>-->
                                <!--<p>UNAVAILABLE</p>-->
                            <!--</div>-->
                            <!--<input type="checkbox" name="terms" id="terms25" value="terms" required>-->
                            <!--<label for="terms25" class="conditions checkbox-label"></label>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 other">-->
                <!--<div class="row">-->
                    <!--<button style="margin-top: 20px;" class="sbmt-btn">SAVE</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->

<!--<section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 banner">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="main-section2 cal-sec payment-form col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">-->
                <!--<h1>SET AVAILABILITY</h1>-->
                <!--<div class="calender-section">-->
                    <!--<p>{{dt | date:'fullDate' }}</p>-->
                    <!--<uib-datepicker ng-change="sel(dt)" ng-model="dt" datepicker-options="options"></uib-datepicker>-->
                <!--</div>-->
                <!--<p>{{available.availabilityTime}}</p>-->
                <!--<div class="time-box">-->
                    <!--&lt;!&ndash;<p>{{refindedDateData}}</p>&ndash;&gt;-->
                    <!--<ul>-->
                        <!--<li class="text-center" ng-repeat="r in refindedDateData track by $index">-->
                            <!--&lt;!&ndash;<p>{{r}}</p>&ndash;&gt;-->
                            <!--<div ng-if="r == 0" class="avail unavail">-->
                                <!--<h6>{{time[$index]}}</h6>-->
                                <!--<p>UNAVAILABLE</p>-->
                            <!--</div>-->
                            <!--<div ng-if="r == 1" class="avail">-->
                                <!--<h6>{{time[$index]}}</h6>-->
                                <!--<p>AVAILABLE</p>-->
                            <!--</div>-->
                            <!--<input type="checkbox" name="terms" ng-model="checks" ng-value="r" ng-click="updateAvailableTime(checks, $index)" ng-checked="r == 1"  id="terms-{{$index}}" required>-->
                            <!--<label for="terms-{{$index}}" class="conditions checkbox-label"></label>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 other">-->
                <!--<div class="row">-->
                    <!--<button style="margin:20px 0;" ng-click="updateInterviewerAvailability()" class="sbmt-btn">SAVE</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->


<section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 banner">
    <div class="container">
        <div class="row">
            <div class="main-section2 cal-sec payment-form col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                <h1>SET AVAILABILITY</h1>
                <div class="calender-section">
                    <!--<p>{{activeDate | date:'fullDate' }}</p>-->
                    <!--<uib-datepicker ng-change="sel(dt)" ng-model="dt" class="well well-sm" multi-select=['10-10-2016'] datepicker-options="options"></uib-datepicker>-->
                    <!--<p>{{selectedDates}}</p>-->
                    <div ng-if="display">
                        <p>{{activeDate | date:'fullDate' }}</p>
                        <uib-datepicker ng-change="sel(activeDate)" class="well well-sm" ng-model="activeDate" multi-select='selectedDates' datepicker-options="options" template-url='app/availability/multi-datepicker.tpl.html'></uib-datepicker>
                    </div>

                </div>
                <p>{{available.availabilityTime}}</p>
                <div class="time-box">
                    <!--<p>{{refindedDateData}}</p>-->
                    <ul>
                        <li class="text-center" ng-repeat="r in refindedDateData track by $index">
                            <!--<p>{{refindedDateData}}</p>-->
                            <div ng-if="r == 0" class="avail unavail">
                                <h6>{{time[$index]}}</h6>
                                <p>UNAVAILABLE</p>
                            </div>
                            <div ng-if="r == 1" class="avail">
                                <h6>{{time[$index]}}</h6>
                                <p>AVAILABLE</p>
                            </div>
                            <input type="checkbox" name="terms" ng-model="checks" ng-value="r" ng-click="updateAvailableTime(checks, $index)" ng-checked="r == 1"  id="terms-{{$index}}" ng-disabled="($index < todayHours+1)&&(todayCurrentDate == selectedTodayDate)" required>
                            <label for="terms-{{$index}}" class="conditions checkbox-label"></label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 other">
                <div class="row">
                    <button style="margin:20px 0;" ng-click="updateInterviewerAvailability()" ng-disabled="disSubBtn" class="sbmt-btn">SAVE</button>
                </div>
            </div>
        </div>
    </div>
</section>