<h3>
    Candidate Membership LIST
    <!--<small>Displaying list of all the drivers in the system.</small>-->
</h3>
<div ng-controller="CandidatememController" class="container-fluid">

    <!-- START DATATABLE 2 -->
    <div class="row" style="display:inline-block">
        <div class="col-lg-12">
            <div class="panel panel-default" ng-class="{'whirl duo' : showloader }">
                <div class="panel-heading">
                    <div class="col-xs-5 col-sm-4 col-md-3 col-lg-3">
                        <button ng-click="addMembership()" style="margin: 0px;background-color: #0297cf;color: #fff;" class="btn-block btn btn-default" type="submit">ADD NEW</button>
                    </div>
                    <div class="col-xs-5 col-sm-4 col-md-3 col-lg-3 col-lg-offset-6 col-md-offset-6 col-sm-offset-4 col-xs-offset-2">
                        <button  ng-click="exportData()" class="btn-block btn btn-sm btn-info">Export To CSV</button>
                    </div>
                </div>
                <div style="clear:both"></div>
                <div class="panel-body">
                    <div class="row" style="padding-right: 15px">
                        <div style="margin-top: 10px" class=" col-xs-12 col-sm-6 col-md-3 col-lg-3 col-sm-offset-6 col-md-offset-9 col-lg-offset-9">
                            <div class="input-group" >
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                <input type="text" class="form-control" placeholder="Search" ng-model="search">
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" ng-switch="(list | filter:search).length">
                        <div ng-switch-when="0" class="noSearch"><span>No Data found</span></div>
                        <table id="datatable2" class="table  table-hover" ng-switch-default>
                            <thead>
                            <tr>
                                <th style="min-width:60px">
                                    <div style="text-align:center;" ng-click="sort('index')">
                                        Sr. No.
                                        <span style="opacity:0.5" ng-hide="predicate == 'index' && reverse || predicate == 'index' && !reverse" class="fa fa-sort"></span>
                                        <span ng-show="predicate == 'index' && !reverse" class="fa fa-caret-down"></span>
                                        <span ng-show="predicate == 'index' && reverse" class="fa fa-caret-up"></span>
                                    </div>
                                </th>
                                <th  style="min-width:60px;">
                                    <div style="text-align:center;" ng-click="sort('planType')">
                                        Plan type
                                        <span style="opacity:0.5" ng-hide="predicate == 'planType' && reverse || predicate == 'planType' && !reverse" class="fa fa-sort"></span>
                                        <span ng-show="predicate == 'planType' && !reverse" class="fa fa-caret-down"></span>
                                        <span ng-show="predicate == 'planType' && reverse" class="fa fa-caret-up"></span>
                                    </div>
                                </th>
                                <th  style="min-width:60px;">
                                    <div style="text-align:center;" ng-click="sort('planRate')">
                                        Plan rate
                                        <span style="opacity:0.5" ng-hide="predicate == 'planRate' && reverse || predicate == 'planRate' && !reverse" class="fa fa-sort"></span>
                                        <span ng-show="predicate == 'planRate' && !reverse" class="fa fa-caret-down"></span>
                                        <span ng-show="predicate == 'planRate' && reverse" class="fa fa-caret-up"></span>
                                    </div>
                                </th>
                                 <th  style="min-width:60px;">
                                    <div style="text-align:center;" ng-click="sort('planDuration')">
                                        Plan Duration ( Months)
                                        <span style="opacity:0.5" ng-hide="predicate == 'planDuration' && reverse || predicate == 'planDuration' && !reverse" class="fa fa-sort"></span>
                                        <span ng-show="predicate == 'planDuration' && !reverse" class="fa fa-caret-down"></span>
                                        <span ng-show="predicate == 'planDuration' && reverse" class="fa fa-caret-up"></span>
                                    </div>
                                </th>
                                 <th  style="min-width:60px;">
                                        Plan Description
                                </th>
                                <th style="min-width:100px;text-align: center;">Status</th>
                                <th style="min-width:100px;text-align: center;">Actions</th>
                            </tr>
                            </thead>
                            <tbody >
                            <tr ng-repeat="data in filtered =  list| filter:search | orderBy:predicate:reverse">
                                <td style="text-align: center">{{data.index}}</td>
                                <td style="text-align: center">{{data.planType}}</td>
                                <td style="text-align: center">{{data.planRate}}</td>
                                  <td style="text-align: center">{{data.planDuration}}</td>
                                    <td style="text-align: center">{{data.planDescription}}</td>
                                    <td style="text-align: center">{{data.status}}</td>
                                <td style="text-align: center">
                                    <div>
                                        <!--<a class="btn btn-sm btn-default1" ng-click="deleteCountry(data._id,data.countryName)"-->
                                           <!--title="Delete" style="margin-top:5px">-->
                                            <!--<i style="color: #0297cf" class="fa fa-trash-o block-icon"></i>-->
                                        <!--</a>-->
                                        <a class="btn btn-sm btn-default1" ng-click="updateCountry(data)"
                                           title="Update" style="margin-top:5px">
                                            <i style="color: #0297cf" class="fa fa-pencil-square-o block-icon"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->

    <script type="text/ng-template" id="deleteplan">
        <div class="ngdialog-message">
            <p style="text-align: center">Are you sure you want to delete {{deletePlanType}} from your list </p>

            <p style="display: flex">
                <button ng-click="confirmDelete()" style="margin: 0px" class=" btn-block btn btn-primary btn-default" type="submit">YES</button>
                <button ng-click="denyDelete()" style="margin: 0px" class=" btn-block btn btn-primary btn-default" type="submit">NO</button>
            </p>
        </div>
    </script>

    <script type="text/ng-template" id="updateplan">
        <div class="ngdialog-message">
            <form  name="updatePlan" novalidate>
                <section>
                    <div class="  candidate-profile-section clearfix">
                        <div class="row" style="margin-top: 20px">
                            <div class="search-wrapper">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  form">
                                    <div class="clearfix">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ProfileFormElements form-elements ">
                                            <div class="dropdown custom-select-box main-dropdown">
                                            <label>planType</label>
                                            <select name="planType" ng-model="newdata.planType" class="selectpicker" data-live-search="false" ng-options="p for p in plantype" required>
                                                <option value="" disabled hidden>Select Plan Type</option>
                                            </select>
                                            <div ng-show="updatePlan.$submitted || updatePlan.planType.$touched">
                                                <div class="error-message" ng-show="updatePlan.planType.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-elements ">
                                            <label>planRate</label>
                                            <input type="number"  placeholder="Enter PlanRate" name="planRate" ng-model="newdata.planRate" required />
                                            <div ng-show="updatePlan.$submitted || updatePlan.planRate.$touched">
                                                <div class="error-message" ng-show="updatePlan.planRate.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-elements ">
                                            <label>planDuration (in months)</label>
                                            <input type="number" placeholder="Enter Country Name" name="planDuration" ng-model="newdata.planDuration" required />
                                            <div ng-show="updatePlan.$submitted || updatePlan.planDuration.$touched">
                                                <div class="error-message" ng-show="updatePlan.planDuration.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-elements ">
                                            <label>planDescription</label>
                                            <input type="text"   placeholder="Enter Country Code" name="planDescription" ng-model="newdata.planDescription" required />
                                            <div ng-show="updatePlan.$submitted || updatePlan.planDescription.$touched">
                                                <div class="error-message" ng-show="updatePlan.planDescription.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-elements ">
                                            <label>delete</label>
                                            <select name="isDeleted" value="true" ng-model="newdata.isDeleted">
                                                <option vlaue="true" selected>No </option>
                                                <option vlaue="false">YES </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad " style="text-align: center">
                                <button style="width: 50%;" type="submit" class="btn btn-primary sbmt-btn" ng-click="updatePlan.$valid && updateConfirm()">UPDATE PLAN</button>
                        </div>
                    </div>

                </section>

            </form>
        </div>
    </script>
    <script type="text/ng-template" id="addnew">
        <div class="ngdialog-message">
            <form  name="addnew" novalidate>
                <section>
                    <div class="  candidate-profile-section clearfix">
                        <div class="row" style="margin-top: 20px">
                            <div class="search-wrapper">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form">
                                    <div class="clearfix">
                                        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-elements ">-->
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-elements ">
                                            <label>Plan type</label>
                                            <div>
                                             <select style="width:100%;height:50px;" name="planType" ng-model="addnewData.planType" class="selectpicker" data-live-search="false" ng-options="p for p in plantype" required>
                                                <option value="" disabled hidden>Select Plan Type</option>
                                            </select>
                                            </div>
                                            <div ng-show="addnew.$submitted || addnew.planType.$touched">
                                                <div class="error-message" ng-show="addnew.planType.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-elements ">
                                            <label>Plan Rate</label>
                                            <input  type="number"  placeholder="Enter Planrate" name="planRate" ng-model="addnewData.planRate" required />
                                            <div ng-show="addnew.$submitted || addnew.planRate.$touched">
                                                <div class="error-message" ng-show="addnew.planRate.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-elements ">
                                            <label>Plan Duration (in months)</label>
                                            <input  type="number" placeholder="Enter duration" name="planDuration" ng-model="addnewData.planDuration" required />
                                            <div ng-show="addnew.$submitted || addnew.planDuration.$touched">
                                                <div class="error-message" ng-show="addnew.planDuration.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-elements ">
                                            <label>Plan Description</label>
                                            <input type="text"   placeholder="Enter description" name="planDescription" ng-model="addnewData.planDescription" required />
                                            <div ng-show="addnew.$submitted || addnew.planDescription.$touched">
                                                <div class="error-message" ng-show="addnew.planDescription.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad text-center">

                                <button style="width: 50%;" type="submit" class="btn btn-primary sbmt-btn" ng-click="addnew.$valid && addConfirm()">ADD PLAN</button>


                        </div>
                    </div>

                </section>

            </form>
        </div>
    </script>
</div> <!-- **************************************************************************
    ******************* Modal to display msg **************************************
    *******************************************************************************-->
<script type="text/ng-template" id="display_msg_modalDialog">
    <div class="ngdialog-message">
        <h4>{{displaymsg}}</h4>
        <a type="submit" ng-click="refreshPage()" class="btn btn-primary" style="margin-top:20px;">OK</a>
        <div style="clear: both;"></div>
    </div>
</script>
<!-- **************************************************************************
******************* Modal to display unauth msg **************************************
*******************************************************************************-->
<script type="text/ng-template" id="unauth_msg_modalDialog">
    <div class="ngdialog-message">
        <h4>{{unAuthMsg}}</h4>
        <a type="submit" ng-click="forceLogin()" class="btn btn-primary" style="margin-top:20px;">OK</a>
        <div style="clear: both;"></div>
    </div>
</script>