<h3>
   CANDIDATE FAQs
    <!--<small>Displaying list of all the drivers in the system.</small>-->
</h3>
<div ng-controller="CandidateFaqController">
    <div  class="container-fluid">
        <form ng-show="!review" name="faqForm" novalidate>
            <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class="  candidate-profile-section clearfix">
                    <div class="row" style="margin-top: 20px">
                        <div class="search-wrapper">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form">
                                <div class="clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-elements ">
                                        <label>Question</label>
                                        <input type="text" placeholder="Enter Question" name="question" ng-model="faq.question" required />
                                        <div ng-show="faqForm.$submitted || faqForm.question.$touched">
                                            <div class="error-message" ng-show="faqForm.question.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Question is Required.</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-elements ">
                                        <label>Answer</label>
                                        <textarea style="min-height: 110px" class="textArea" type="text" minlength="3" placeholder="Enter Answer" name="answer" ng-model="faq.answer" required ></textarea>
                                        <div ng-show="faqForm.$submitted || faqForm.answer.$touched">
                                            <div class="error-message" ng-show="faqForm.answer.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Answer is Required.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad ">
                        <div class="col-lg-4 col-md-4 col-sm-8 co-xs-12  col-lg-offset-4 col-md-offset-4 col-sm-offset-2" >
                            <button id="addButton" type="submit" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sbmt-btn" ng-click="faqForm.$valid && add(faq)">ADD QUESTION</button>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
    <div  class="container-fluid" style="margin-top: 20px">

        <!-- START DATATABLE 2 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default" ng-class="{'whirl duo' : showloader }">
                    <div class="panel-heading">
                        <!--<a id="ridescsv" ng-click="exportData()" ng-show="showcsvbtn" class="pull-right btn btn-sm btn-info">Export To CSV</a>-->
                        <!--<button  ng-click="exportData()" class="pull-right btn btn-sm btn-info">Export To CSV</button>-->
                    </div>
                    <div style="clear:both"></div>
                    <div class="panel-body">
                        <!--<div class="row">-->
                        <!--<div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 col-xs-offset-8 col-sm-offset-8 col-md-offset-9 col-lg-offset-10">-->
                        <!--<div class="input-group" style="padding-top: 10%;">-->
                        <!--<div class="input-group-addon"><i class="fa fa-search"></i></div>-->
                        <!--<input type="text" class="form-control" placeholder="Search" ng-model="search">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="table-responsive" ng-switch="(list | filter:search).length">
                            <div ng-switch-when="0" class="noSearch"><span>No FAQ found</span></div>
                            <table id="datatable2" class="table  table-hover" ng-switch-default>
                                <thead>
                                <tr>
                                    <th style="min-width:80px;">
                                        <div style="text-align:center;" ng-click="sort('$index')">
                                            Sr. No.
                                            <span style="opacity:0.5" ng-hide="predicate == '$index' && reverse || predicate == '$index' && !reverse" class="fa fa-sort"></span>
                                            <span ng-show="predicate == '$index' && !reverse" class="fa fa-caret-down"></span>
                                            <span ng-show="predicate == '$index' && reverse" class="fa fa-caret-up"></span>
                                        </div>
                                    </th>
                                    <th  style="min-width:60px;">
                                        <div style="text-align:center;" ng-click="sort('question')">
                                            Question
                                            <span style="opacity:0.5" ng-hide="predicate == 'question' && reverse || predicate == 'question' && !reverse" class="fa fa-sort"></span>
                                            <span ng-show="predicate == 'question' && !reverse" class="fa fa-caret-down"></span>
                                            <span ng-show="predicate == 'question' && reverse" class="fa fa-caret-up"></span>
                                        </div>
                                    </th>
                                    <th  style="min-width:400px;">
                                        <div style="text-align:center;" ng-click="sort('answer')">
                                            Answer
                                            <span style="opacity:0.5" ng-hide="predicate == 'answer' && reverse || predicate == 'answer' && !reverse" class="fa fa-sort"></span>
                                            <span ng-show="predicate == 'answer' && !reverse" class="fa fa-caret-down"></span>
                                            <span ng-show="predicate == 'answer' && reverse" class="fa fa-caret-up"></span>
                                        </div>
                                    </th>
                                    <th style="min-width:100px;text-align: center;">Actions</th>
                                </tr>
                                </thead>
                                <tbody >
                                <tr ng-repeat="data in filtered =  list| filter:search | orderBy:predicate:reverse">
                                    <td style="text-align: center">{{$index + 1}}</td>
                                    <td>{{data.question}}</td>
                                    <td>{{data.answer}}</td>
                                    <td>
                                        <div>
                                            <a ng-disabled="data.isDeleted" class="btn btn-sm btn-default1" ng-click="deletePlan(data._id)"
                                               title="Delete" style="margin-top:5px">
                                                <i style="color: #0297cf" class="fa fa-trash-o block-icon"></i>
                                            </a>
                                            <a ng-disabled="data.isDeleted" class="btn btn-sm btn-default1" ng-click="updatePlan(data)"
                                               title="Update" style="margin-top:5px">
                                                <i style="color: #0297cf" class="fa fa-pencil-square-o block-icon"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END DATATABLE 2 -->

        <script type="text/ng-template" id="deleteplan">
            <div class="ngdialog-message">
                <p style="text-align: center">Are you sure you want to delete {{deletePlanType}} </p>

                <p style="text-align: center">
                    <button ng-click="confirmDelete()"  class="  btn btn-primary btn-default" type="submit">YES</button>
                    <button ng-click="denyDelete()"  class="  btn btn-primary btn-default" type="submit">NO</button>
                </p>
            </div>
        </script>

        <script type="text/ng-template" id="updateplan">
            <div class="ngdialog-message">
                <form  name="updatefaqForm" novalidate>
                    <section>
                        <div class="  candidate-profile-section clearfix">
                            <div class="row" style="margin-top: 20px">
                                <div class="search-wrapper">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form">
                                        <div class="clearfix">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-elements ">
                                                <label>Question</label>
                                                <input type="text" placeholder="Enter Question" name="question" ng-model="newdata.question" required />
                                                <div ng-show="updatefaqForm.$submitted || updatefaqForm.question.$touched">
                                                    <div class="error-message" ng-show="updatefaqForm.question.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Question is Required.</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-elements ">
                                                <label>Answer</label>
                                                <textarea style="min-height: 110px" class="textArea" type="text" minlength="3" placeholder="Enter Answer" name="answer" ng-model="newdata.answer" required ></textarea>
                                                <div ng-show="updatefaqForm.$submitted || updatefaqForm.answer.$touched">
                                                    <div class="error-message" ng-show="updatefaqForm.answer.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Answer is Required.</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad ">
                                <div class="col-lg-6 col-md-6 col-sm-12 co-xs-12  " >
                                    <button type="submit" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sbmt-btn" ng-click="updatefaqForm.$valid && updateConfirm()">UPDATE QUESTION</button>
                                </div>

                            </div>
                        </div>

                    </section>

                </form>
            </div>
        </script>

        <script type="text/ng-template" id="success">
            <div class="ngdialog-message">
                <h4 style="text-align: center">FAQ added successfully</h4>
                <!--<a type="submit" ng-click="refreshPage()" class="btn btn-primary" style="margin-top:20px;text-align: center">OK</a>-->
                <div style="clear: both;"></div>
            </div>
        </script>

        <script type="text/ng-template" id="error">
            <div class="ngdialog-message">
                <h4 style="text-align: center">{{error}}</h4>
            </div>
        </script>
    </div>


</div>
