<style>
.skype{
    padding-top: 20px !important;

}
.skype .video-panel {
    background: #eff2f5;
    height: 560px;
}
.profile-pic {
    
    color: #000;
    float: left;
    box-shadow: 3px 3px 3px rgba(177, 177, 177, 0.38);
    font-size: 14px;
    padding: 10px;
    border-radius: 0px;
    background: white;
    border: solid 1px #efefef;
}

.chat-container {
    box-shadow: 3px 3px 10px rgba(45,37,41,.38);
    background: #fff;
}
.skype .video-panel-outer {
    border: solid 1px #979797;
    background: #fff;
    padding: 2px;
    box-shadow: 3px 3px 10px rgba(45,37,41,.38);
}
.layout #publisherDiv {
    float: right;
    position: absolute !important;
    top: 10px !important;
    width: initial !important;
    height: initial !important;
    z-index: 9;
    right: 24px;
    left: initial !important;
}
.new-time{
    color: #fff;
    box-shadow: 1px 1px 1px rgba(45,37,41,.38);
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    background: #26a5d5;
    border-radius: 0px 0px 0px 0px;

}
.profile-pic h5 img {
    position: absolute;
     right:auto; 
    padding-left: 10px;
    margin-top: -10px;
    vertical-align: middle;
}
.profile-pic{width: 100%;}
.profile-pic .change-photo {
    position: relative;
   
    width: 160px;
    height: 160px;
    overflow: hidden;
    border: solid 1px #efefef;
    margin: auto;
}
.new-title{background: white; 
    background: #26a5d5;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(45,37,41,.38);
    padding: 10px;
    color: #fff;
    border-radius: 3px 3px 0px 0px;}
.new-title h3{}
.chat-container .send-signal button{width: 100% !important;    padding: 0 2px !important;}
.chat-container .send-signal input{width: 100% !important;}

@media screen  and (max-width: 990px){
    .profile-pic {
   
    width: 100%;
}
.profile-pic .change-photo {
    position: relative;
   
    width: 100%;
    height: 160px;
    overflow: hidden;
    border: solid 1px #efefef;
}  
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 4px;
    border: 1px solid transparent;
}
}
@media screen  and (max-width: 767px){
    .skype .video-panel-outer{margin-top: 20px;}
    .layout #publisherDiv{top: 30px !important;}

}
.chat-container {
    border: solid 1px #4f5f72;
    margin: 7px 0 30px;
    padding: 0;
}
.chat-box {

    height: 155px;
  
}
.chat-container .send-signal {
    background: #ededed;
    padding: 10px 5px;
    width: 100%;
    float: left;
}
</style>

<script src="bower_components/tokboxLayout.js" type="text/javascript"></script>


<section class="skype bgr1 clearfix">
    <div class="container space-top">
        
        <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
        <div class=" video-panel-outer">
      
            <div class="video-panel">
                <!--<div id="videos">-->
                <!--<div id="subscriber"></div>-->
                <!--<div id="publisher"></div>-->
                <!--</div>-->
                <div id="layout" class="layout">
                    <div id="publisherDiv">

                    </div>
                    <div id="subscribersDiv">

                    </div>
                </div>

                <div>
                    <div class="controlBtn">
                        <div class="full-width" style="position: relative;">
                           
                        </div>
                       

                        <ul class="video-controls">
                            <li ng-hide="showVid"><a href="javascript:void (0);" class="btn enable-video" ng-click="disableVid()" id="DisableVideo"></a></li>
                            <li ng-show="showVid"><a href="javascript:void (0);" class="btn disable-video" ng-click="enableVid()"></a></li>
                            <li ng-hide="showAud"><a href="javascript:void (0);" class="btn enable-audio" ng-click="disableAud()"></a></li>
                            <li ng-show="showAud"><a href="javascript:void (0);" class="btn disable-audio" ng-click="enableAud()"></a></li>
                            <li><a href="javascript:void (0);" class="btn call-drop" ng-click="disconnect(1)"></a></li>
                        </ul>


                    </div>
                </div>

            </div>
        </div>
        
    </div>
    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
        <div class="new-title">
            <h3>Interviewer</h3>
        </div>
        
        <div class="row">
            <div class="col-md-12">
        <div class="profile-pic text-center clearfix">
            <div class="change-photo">
                <img class="dp" ng-src="{{interviewerData.interviewerID.profilePicURL.original}}" alt="" />
            </div>
            <h5>{{interviewData.interviewerID.firstName + ' ' + interviewData.interviewerID.lastName}}<img src="images/badge.png" alt="" /></h5>
            <p style="text-transform: capitalize">{{interviewData.candidateID.profileTitle}}</p>
            <!--<input type="text" class="designation" placeholder="Enter Designation" ng-model="designation">-->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

 <div class="new-time">

 

        <p class="show-time">Start Time<span>
            <br>
            {{interviewData.interviewStartTime}}</span></p>
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-12">
<form  name="chatForm" ng-submit='chatForm.$valid&&sendMessage()' novalidate>
    <div class="chat-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="chat-box">
            <p ng-repeat='message in messages' ng-class="{'candidate-side': message.messageTo == 'INTERVIEWER'}"><span ng-class="{'fLeft': message.messageTo == 'INTERVIEWER'}">{{message.text}}<br /><i>{{message.createdAt | date:"dd-MMM-yy, HH:mm a"}}</i></span></p>
        </div>
        <div class="send-signal clearfix">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="padding-right: 1px;">
            <input type="text" placeholder="Write here…." name="textMessage" ng-class="{'emptyField': chatForm.textMessage.$error.required == true && chatForm.$submitted}" ng-model='message' required>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-left: 1px;">
            <button type="submit">Send</button>
                </div>
        </div>
        </div>
    </div>
</form>
    </div>
</div>
</div>

        
        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
            <!--<div class="row">-->
                <!--<div class="text-right">-->
                    <!--<button class="sbmt-btn col-lg-2 col-md-2 col-sm-2 col-xs-2 pull-right" ng-click="finishInterviewByCandidate(interviewData._id)">FINISH INTERVIEW</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</section>

<!--<script type="text/ng-template" id="rateInterviewer">-->
    <!--HII-->
<!--</script>-->