<div class="block-center mt-xl wd-xl" ng-controller="ChanePasswordController">
    <!-- START panel-->
    <div class="panel panel-dark panel-flat">
        <div class="panel-heading text-center">
            CHANGE PASSWORD
        </div>
        <div class="panel-body">
            <form role="form" ng-submit="changePassword()" validate-form="" novalidate="" class="mb-lg">
                <div class="form-group has-feedback">
                    Old Password <span class="astrick">*</span>
                    <input type="password"  placeholder="Enter password" class="form-control" ng-model="changePass.old_password"  required="required"/>
                </div>
                <div class="form-group has-feedback">
                    New Password  <span class="astrick">*</span>
                    <input type="password"  placeholder="Enter new password" class="form-control" ng-model="changePass.new_password" data-parsley-minlength="6" required="required"/>
                </div>
                <div class="form-group has-feedback">
                    Confirm New Password <span class="astrick">*</span>
                    <input type="password"  placeholder="Enter confirm password" class="form-control" ng-model="changePass.confirmpassword" required="required"/>
                </div>
                <button type="submit" class="changePass btn btn-primary btn-block">Reset</button>
            </form>
            <div ng-show="errorMsg" class="alert alert-danger text-center">{{errorMsg}}</div>
            <div ng-show="successMsg" class="alert alert-success text-center">{{successMsg}}</div>
        </div>
    </div>
    <!-- END panel-->
</div>
<script type="text/ng-template" id="success">
    <div class="ngdialog-message">
        <h4 style="text-align: center">Password changed successfully</h4>

    </div>
</script>
<script type="text/ng-template" id="error">
    <div class="ngdialog-message">
        <h4 style="text-align: center">{{error}}</h4>

    </div>
</script>