<section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 banner">
    <div class="container">
        <div class="main-section col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 col-xs-12 clearfix">
            <h1>CHANGE PASSWORD</h1>
            <p class="fPass">Please enter old and new password to update password.</p>
            <div class="row">
                <div class="search-wrapper">
                    <form class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form" ng-submit="changePasswordForm.$valid&&changePassword(pass)" name="changePasswordForm" novalidate>
                        <div class="form-elements">
                            <label>OLD PASSWORD</label>
                            <input class="password" type="password" name="old_password" placeholder="Enter Old Password" ng-model="pass.OldPassword" required>
                            <div ng-show="changePasswordForm.$submitted || changePasswordForm.old_password.$touched">
                                <div class="error-message" ng-show="changePasswordForm.old_password.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
                            </div>
                        </div>
                        <div class="form-elements">
                            <label>NEW PASSWORD</label>
                            <input class="password" type="password" name="new_password" placeholder="Enter New Password" ng-model="pass.NewPassword" required>
                            <div ng-show="changePasswordForm.$submitted || changePasswordForm.new_password.$touched">
                                <div class="error-message" ng-show="changePasswordForm.new_password.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
                            </div>
                        </div>
                        <button class="col-lg-12 col-md-12 col-sm-12 col-xs-12" type="submit">SUBMIT</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>