<style>
    .whirl:after {  position: fixed;  }
    .scores input{text-align: center}
    h2{color: #0297cf;  }
    h3{color: #0297cf;margin-top: 5px  }
    h1,h2,h3,h4{
        font-weight: normal;
    }

</style>

<h3>
    Contact Us
    <!--<small>Displaying list of all the drivers in the system.</small>-->
</h3>
<div ng-controller="ContactUsController" class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding: 5px 0px 25px">
                    <form ng-show="candidateEdit" name="candidateForm" novalidate>
                        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="  candidate-profile-section clearfix">
                                <div class="row" style="margin-top: 20px">

                                    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 form">
                                        <h3 style="padding: 0 15px;">
                                            Update Contact Us Details
                                        </h3>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-elements ">
                                            <label>Email</label>
                                            <input  type="text" placeholder="Enter Email" name="email" ng-model="contact.email" ng-pattern="myregex" required/>
                                            <div ng-show="candidateForm.$submitted || candidateForm.email.$touched">
                                                <div class="error-message" ng-show="candidateForm.email.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
                                                <div class="error-message" ng-show="candidateForm.email.$invalid && candidateForm.email.$error.required!=true"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Please Enter Valid Email</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-elements " style="padding-right: 0">
                                            <label>COUNTRY CODE</label>
                                            <input  type="text" minlength="1" maxlength="3" ng-keypress='isNumberKey($event)' placeholder="Enter Country Code" name="countryCode" ng-model="contact.countryCode" required/>
                                            <div ng-show="candidateForm.$submitted || candidateForm.countryCode.$touched">
                                                <div class="error-message" ng-show="candidateForm.countryCode.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
                                                <div class="error-message" ng-show="candidateForm.countryCode.$invalid && candidateForm.countryCode.$error.required!=true"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Min length required is 1 character.</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 form-elements ">
                                            <label>Phone Number</label>
                                            <input  type="text" minlength="10" maxlength="10" ng-keypress='isNumberKey($event)' ng-pattern="phoneRegex" placeholder="Enter Phone Number" name="phoneNumber" ng-model="contact.phoneNumber" required/>
                                            <div ng-show="candidateForm.$submitted || candidateForm.phoneNumber.$touched">
                                                <div class="error-message" ng-show="candidateForm.phoneNumber.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
                                                <div class="error-message" ng-show="candidateForm.phoneNumber.$invalid && candidateForm.phoneNumber.$error.required!=true"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Phone Number must be valid and 10 digits long.</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-elements ">
                                            <label>linkedIn Link</label>
                                            <input  type="text" placeholder="Enter linkedIn Link" name="linkedInLink" ng-model="contact.linkedInLink" required/>
                                            <div ng-show="candidateForm.$submitted || candidateForm.linkedInLink.$touched">
                                                <div class="error-message" ng-show="candidateForm.linkedInLink.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pad ">
                                    <div class="col-lg-4 col-md-4 col-sm-8 co-xs-12  col-lg-offset-4 col-md-offset-4 col-sm-offset-2" style="display: flex;text-align: center;" >
                                        <button style="margin: 20px auto 0;" id="addButton" type="submit" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sbmt-btn" ng-click="candidateForm.$valid && update()">UPDATE</button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </form>
                    <div ng-show="!candidateEdit" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3>Contact Us</h3>
                            <br/>
                            <h4 style="color: #0297cf;">Email</h4>
                            <p>{{contact.email}} </p>
                            <h4 style="color: #0297cf;">Phone Number</h4>
                            <p> {{contact.countryCode}}-{{contact.phoneNumber}}</p>
                            <h4 style="color: #0297cf;">LinkedIn Link</h4>
                            <p>{{contact.linkedInLink}} </p>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad ">
                                <div class="col-lg-4 col-md-4 col-sm-8 co-xs-12  col-lg-offset-4 col-md-offset-4 col-sm-offset-2" style="text-align: center;display: flex" >
                                    <button type="submit" style="max-width: 100px;margin: 20px auto 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sbmt-btn" ng-click="candidateEdit = true">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="col-lg-12">
            <div class="panel panel-default" ng-class="{'whirl duo' : showloader }">
                <div class="panel-heading" >

                </div>
                <div style="clear:both"></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-5 col-sm-3 col-md-3 col-lg-3">
                            <label>Records Per Page</label>
                            <select class="form-control" ng-model="itemsPerPage" ng-options="pages for pages in searchModel.limitOptions" ng-change="getPagesCount()"></select>
                        </div>
                        <div class=" col-xs-5 col-sm-4 col-md-3 col-lg-3 col-xs-offset-2 col-sm-offset-5 col-md-offset-6 col-lg-offset-6">
                            <div class="input-group" style="padding-top: 10%;">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                <input type="text" class="form-control" placeholder="Search" ng-model="search">
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" ng-switch="(list | filter:search).length">
                        <div ng-switch-when="0" class="noSearch"><span>No Query Found</span></div>
                        <table id="datatable2" class="table table-hover" ng-switch-default>
                            <thead>
                            <tr>
                                <th style="min-width:70px">
                                    <div style="text-align:center;" ng-click="sort('index')">
                                        Sr. No.
                                        <span style="opacity:0.5" ng-hide="predicate == 'index' && reverse || predicate == 'index' && !reverse" class="fa fa-sort"></span>
                                        <span ng-show="predicate == 'index' && !reverse" class="fa fa-caret-down"></span>
                                        <span ng-show="predicate == 'index' && reverse" class="fa fa-caret-up"></span>
                                    </div>
                                </th>
                                <th style="min-width:140px">
                                    <div style="text-align:center;" ng-click="sort('name')">
                                        Name
                                        <span style="opacity:0.5" ng-hide="predicate == 'name' && reverse || predicate == 'name' && !reverse" class="fa fa-sort"></span>
                                        <span ng-show="predicate == 'name' && !reverse" class="fa fa-caret-down"></span>
                                        <span ng-show="predicate == 'name' && reverse" class="fa fa-caret-up"></span>
                                    </div>
                                </th>
                                <th style="min-width:140px">
                                    <div style="text-align:center;" ng-click="sort('addedAt')">
                                        Date
                                        <span style="opacity:0.5" ng-hide="predicate == 'addedAt' && reverse || predicate == 'addedAt' && !reverse" class="fa fa-sort"></span>
                                        <span ng-show="predicate == 'addedAt' && !reverse" class="fa fa-caret-down"></span>
                                        <span ng-show="predicate == 'addedAt' && reverse" class="fa fa-caret-up"></span>
                                    </div>
                                </th>
                                <th style="min-width:140px">
                                    <div style="text-align:center;" ng-click="sort('email')">
                                        Email
                                        <span style="opacity:0.5" ng-hide="predicate == 'email' && reverse || predicate == 'email' && !reverse" class="fa fa-sort"></span>
                                        <span ng-show="predicate == 'email' && !reverse" class="fa fa-caret-down"></span>
                                        <span ng-show="predicate == 'email' && reverse" class="fa fa-caret-up"></span>
                                    </div>
                                </th>
                                <th style="min-width:140px">
                                    Phone Number
                                </th>
                                <th style="min-width: 200px;">Message</th>


                            </tr>
                            <tbody ng-show="tBodyFlag">
                            <tr style='background-color: {{data.color}} !important'
                                ng-repeat="data in filtered =  list| filter:search | orderBy:predicate:reverse">
                                <td class="text-center">{{data.index + 1}}</td>
                                <td class="text-center">{{data.name}}</td>
                                <td class="text-center">{{data.addedAt}}</td>
                                <td class="text-center">{{data.email}}</td>
                                <td class="text-center">{{data.phoneNumber}}</td>
                                <td class="text-center">{{data.message}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6" style="padding-top: 2%;" ng-show="hideExport">
                            <span>Showing {{skipValue + 1}} to {{limitValue + 1}} of {{dataLength}} Entries</span>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 ">
                            <div class="pull-right" ng-show="sp_pagination"><!--ng-show="sp_pagination" ng-show="watchPagination"-->
                                <nav ng-show="watchPagination">
                                    <ul class="pagination">
                                        <li ng-class="prevPageDisabled()">
                                            <a class="link" ng-click="prevPage(currentPage)">Previous</a>
                                        </li>
                                        <li ng-class="{active: m == currentPage}"  ng-repeat="m in range()" ng-click="setPage(m)">
                                            <a class="link" ng-click="currentData(m)">{{m+1}}</a>
                                        </li>
                                        <li ng-class="nextPageDisabled()">
                                            <a class="link" ng-click="nextPage(currentPage)">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>





<script type="text/ng-template" id="success">
    <div class="ngdialog-message">
        <h4 style="text-align: center">Updated successfully</h4>
        <!-- POP UP -->

    </div>
</script>
<script type="text/ng-template" id="error">
    <div class="ngdialog-message">
        <h4 style="text-align: center">{{error}}</h4>

    </div>
</script>