<style>
    .whirl:after {  position: fixed;  }
    .scores input{text-align: center}
    h2{color: #0297cf;  }
    h3{color: #0297cf;margin-top: 5px  }
    h1,h2,h3,h4{
        font-weight: normal;
    }

</style>

<h3>
    How it Works
    <!--<small>Displaying list of all the drivers in the system.</small>-->
</h3>
<div ng-controller="HowItWorksController" class="container-fluid" ng-class="{'whirl duo' : showloader }">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding: 25px 0px">
                    <form ng-show="edit" name="worksForm" novalidate>
                        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="  candidate-profile-section clearfix">
                                <div class="row" style="margin-top: 20px">

                                    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 form">
                                        <h3 style="padding: 0 15px;">
                                            Update How it Works
                                        </h3>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-elements ">
                                            <label>Content</label>
                                            <textarea style="min-height: 110px" class="textArea" type="text" maxlength="300" placeholder="Enter Content" name="content" ng-model="worksContent" required ></textarea>
                                            <div ng-show="worksForm.$submitted || worksForm.content.$touched">
                                                <div class="error-message" ng-show="worksForm.content.$error.required"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> This Field is Required.</div>
                                                <div class="error-message" ng-show="worksForm.content.$invalid && worksForm.content.$error.required!=true"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Max length allowed is 300 characters.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 pad ">
                                    <div class="col-lg-4 col-md-4 col-sm-8 co-xs-12  col-lg-offset-4 col-md-offset-4 col-sm-offset-2" style="display: flex;text-align: center;" >
                                        <button style="margin: 20px auto 0;" id="addButton" type="submit" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sbmt-btn" ng-click="worksForm.$valid && update()">UPDATE</button>
                                    </div>

                                </div>
                            </div>

                        </section>

                    </form>
                    <div ng-show="!edit" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3>How it Works</h3>
                            <h4>{{worksContent}}</h4>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad ">
                                <div class="col-lg-4 col-md-4 col-sm-8 co-xs-12  col-lg-offset-4 col-md-offset-4 col-sm-offset-2" style="text-align: center;display: flex" >
                                    <button type="submit" style="max-width: 100px;margin: 20px auto 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sbmt-btn" ng-click="edit = true">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding: 25px 0px">
                    <form name="worksForm" novalidate>
                        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="  candidate-profile-section clearfix">
                                <div class="row" style="margin-top: 20px">

                                    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 form">
                                        <h3 style="padding: 0 15px;">
                                            Upload Video
                                        </h3>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-pic">
                                            <div class="videoUpload fileUpload">
                                                <label for="myupdateimage"> </label>
                                                <input style="display: none" id="myupdateimage" filestyle="" type="file" accept="video/mp4"
                                                       onchange="angular.element(this).scope().file_to_upload(this.files,0)"
                                                       class="form-control upload" name="profilePic" required/>
                                            </div>
                                            <!--{{video}}-->
                                            <!--<div ng-show="worksForm.$submitted">-->
                                                <!--<div style="text-align: center" class="error-message" ng-show="video == undefined"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Please Upload Image.</div>-->
                                            <!--</div>-->

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 pad ">
                                    <div ng-show="uploadVideoError">
                                        <div class="error-message text-center"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Please select Video.</div>
                                    </div>
                                    <div ng-show="uploadVideoSizeError">
                                        <div class="error-message text-center"><i class="fa fa-exclamation-triangle err-icon" aria-hidden="true"></i> Please select Video size < 20mb.</div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-8 co-xs-12  col-lg-offset-4 col-md-offset-4 col-sm-offset-2" style="display: flex;text-align: center;" >
                                        <button style="margin: 20px auto 0;" id="videoButton"  type="submit" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sbmt-btn" ng-click="worksForm.$valid && updateVideo()">UPLOAD</button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </form>
                    <!--<div ng-show="!edit1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >-->
                        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                            <!--<h3>How it Works</h3>-->
                            <!--<h4>{{worksContent}}</h4>-->
                            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad ">-->
                                <!--<div class="col-lg-4 col-md-4 col-sm-8 co-xs-12  col-lg-offset-4 col-md-offset-4 col-sm-offset-2" style="text-align: center;display: flex" >-->
                                    <!--<button type="submit" style="max-width: 100px;margin: 20px auto 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sbmt-btn" ng-click="edit1 = true">Edit</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/ng-template" id="success">
    <div class="ngdialog-message">
        <h4 style="text-align: center">Updated successfully</h4>
        <!-- POP UP -->

    </div>
</script>
<script type="text/ng-template" id="error">
    <div class="ngdialog-message">
        <h4 style="text-align: center">{{error}}</h4>

    </div>
</script>