<div class="main-section2 main-section-profile interview-details col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix" ng-init="pastInterview(1)">
    <div class="candidate-desc">
        <div class="row">
            <ul>
                <h6 style="margin: 10px 0; font-size: 15px;" class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="filteredData.length == 0">No Data Found.</h6>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-list" ng-repeat="inter in filteredData">

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <img class="display-pic" ng-src="{{inter.candidateID.profilePicURL.thumbnail}}" alt="" />
                                    <div class="profile-description">
                                        <!--<h4>John Miller -  IOS Developer</h4>-->
                                        <h4 ng-click="candidateDetails(inter.candidateID._id, inter._id, true)">{{inter.candidateID.firstName+' '+inter.candidateID.lastName+' - '+inter.candidateID.profileTitle}}</h4>
                                                <ul>
                                                    <li class="place">{{inter.candidateID.currentState+', '+inter.candidateID.currentCountry}}</li>
                                                    <li class="experience">{{inter.candidateID.totalExperience}}{{inter.candidateID.totalExperience > 1 ? ' Yrs' : ' Yr'}}</li>
                                                </ul>
                                        <div ng-if="inter.ratingByCandidate">
                                            Response : {{inter.candidateFeedback}}
                                           
                                         <br>  
                                          Rating :  
                                          <ul class="rating" ng-if="inter.status == 5">
                                              <li ng-repeat="i in getNumber(number) track by $index">
                                                  <span class="unrated-star" ng-class="{'rated-star':$index < inter.candidateRating}"></span>
                                              </li>
                                          </ul>
                                        </div>
                                    </div>
                                   
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pull-right text-right status-rating">
                            <label>Status :<span class="status-complete" ng-if="inter.status == 5" style="cursor: auto">Completed</span>
                                <span class="status-complete status-cancel" ng-if="inter.status == 6">Expired</span>
                                <span class="status-complete status-cancel" ng-if="inter.status == 7">Rejected</span>
                                <span class="status-complete status-cancel" ng-if="inter.status == 8">Cancelled</span></label>
                            <label class="past-rate">Conducted on<span class="date"> {{inter.interviewDate | date:"dd MMM, y"}}{{" - "+inter.interviewStartTime}}</span>
                            <!--<ul class="rating">-->
                            <!--<li><img src="images/rated-star.png" alt="" /></li>-->
                            <!--<li><img src="images/rated-star.png" alt="" /></li>-->
                            <!--<li><img src="images/rated-star.png" alt="" /></li>-->
                            <!--<li><img src="images/unrated-star.png" alt="" /></li>-->
                            <!--<li><img src="images/unrated-star.png" alt="" /></li>-->
                            <!--</ul>-->

                                <ul class="rating" ng-if="inter.status == 5">
                                    <li ng-repeat="i in getNumber(number) track by $index">
                                        <span class="unrated-star" ng-class="{'rated-star':$index < inter.candidateID.rating}"></span>
                                    </li>
                                </ul>
                            </label>
                        </div>
                </li>
                <!--<li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-list">-->
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
                                <!--<img src="images/candidate.png" alt="" />-->
                                <!--<div class="profile-description">-->
                                    <!--<h4>John Miller -  IOS Developer</h4>-->
                                    <!--<p>Lorem Ipsum is simply dummy text…</p>-->
                                    <!--<ul>-->
                                        <!--<li class="place">New York</li>-->
                                        <!--<li class="experience">3 Yrs</li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pull-right text-right status-rating">-->
                            <!--<label>Status :<span class="status-complete">Completed</span></label>-->
                            <!--<label class="past-rate">Conducted on<span class="date"> 04 May, 2016</span>-->
                                <!--<ul class="rating">-->
                                    <!--<li><img src="images/rated-star.png" alt="" /></li>-->
                                    <!--<li><img src="images/rated-star.png" alt="" /></li>-->
                                    <!--<li><img src="images/rated-star.png" alt="" /></li>-->
                                    <!--<li><img src="images/unrated-star.png" alt="" /></li>-->
                                    <!--<li><img src="images/unrated-star.png" alt="" /></li>-->
                                <!--</ul>-->
                            <!--</label>-->
                        <!--</div>-->
                <!--</li>-->
                <!--<li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-list">-->
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
                                <!--<img src="images/candidate.png" alt="" />-->
                                <!--<div class="profile-description">-->
                                    <!--<h4>John Miller -  IOS Developer</h4>-->
                                    <!--<p>Lorem Ipsum is simply dummy text…</p>-->
                                    <!--<ul>-->
                                        <!--<li class="place">New York</li>-->
                                        <!--<li class="experience">3 Yrs</li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pull-right text-right status-rating">-->
                            <!--<label>Status :<span class="status-cancel">Cancelled</span></label>-->
                        <!--</div>-->
                <!--</li>-->
            </ul>
            </div>

        </div>
    </div>
</div>
<div class="pagination-container">
    <pagination ng-if="numberOfInterviews > 10"
                ng-model="currentPage"
                total-items="numberOfInterviews"
                max-size="maxSize"
                boundary-links="true" ng-click="pastInterview(currentPage)">
    </pagination>
</div>